
<div>
    <div style="padding-right: 5px;">
        <md-content>
            <md-card>
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2 style="font-size: 124%" align="center" flex md-truncate>Digital Radiograph</h2>
                    </div>
                </md-toolbar>
                <br>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab  label="DIGITAL RADIOGRAPH">
                        <md-content class="md-padding">
                            <form  name="searchForm">
                                <form  name="searchForm">
                                    <div layout-gt-sm="row">
                                        <md-autocomplete flex  flex
                                                         md-search-text="searchText"
                                                         md-input-name="patients"
                                                         md-no-cache="false"
                                                         md-items="item in getPatientQueXrayNotInList(searchText)"
                                                         md-item-text="item.first_name+' '+item.middle_name+' ' +item.middle_name+' '+item.medical_record_number+' '+item.item_name"
                                                         md-selected-item-change="getRadiologyModal(item)"
                                                         md-floating-label="Search Patient"
                                                         md-min-length="4" md-autofocus>
                                            <md-item-template>
                                                <span md-highlight-text="searchText">{{item.first_name}} {{item.middle_name}} {{item.last_name}} {{item.medical_record_number}} {{item.item_name}}</span>
                                            </md-item-template>
                                        </md-autocomplete>
                                    </div>
                                </form>
                            </form>
                            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                                 
								<div ng-repeat="pt in patientXray" class="mdl-chip mdl-chip--contact mdl-chip--deletable" ng-click="getRadiologyModal(pt)">
                                    <a style="color: black" href="">
                                        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{pt.first_name | limitTo: 1 }}</span>
                                        <span class="mdl-chip__text" >{{pt.first_name}} {{pt.middle_name}} {{pt.last_name+' - '+pt.item_name}} </span>
                                        <a  class="mdl-chip__action"></a>
                                    </a>
                                </div>
                            </md-grid-list>
                        </md-content>
                    </md-tab>
                    <md-tab ng-click="getXrays()" label="INVESTIGATION VERIFICATION">
                        <md-content class="md-padding">
                            <md-content class="md-no-momentum">
                            </md-content>
                                    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                                        <div ng-repeat="xray in Xrays" class="mdl-chip mdl-chip--contact mdl-chip--deletable" ng-click="imageState(xray.patient_id)">
                                            <a style="color: black" href="">
                                                <span class="mdl-chip__contact mdl-color--orange mdl-color-text--white">{{xray.first_name | limitTo: 1 }}</span>
                                                <span class="mdl-chip__text" >{{xray.first_name | uppercase}} {{xray.middle_name| uppercase}} {{xray.last_name|
                                    uppercase}} </span>
                                                <a  class="mdl-chip__action"></a>

                                            </a>
                                        </div>
                                    </md-grid-list>

                        </md-content>
                    </md-tab>
                    <md-tab label="INVESTIGATION REPORTS">
                        <md-content class="md-padding">
                            <h1 class="md-display-2"></h1>
                            <md-content class="md-padding">
                                <h1 class="md-display-2"></h1>

                                <div layout-gt-sm="row">
                                    <md-input-container flex="30">
                                        <label>Choose Start Date</label>
                                        <input ng-model="rec.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                                    </md-input-container>
                                    <md-input-container  flex="30">
                                        <label>Choose End Date</label>
                                        <input ng-model="rec.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                                    </md-input-container>
                                    <md-input-container>
                                        <md-button class="md-raised md-primary" ng-click="reportRecord(rec)">Search</md-button>
                                    </md-input-container>
                                </div>
                                <table ng-if="reportData.length>0" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                                    <thead style="background-color: beige">
                                    <tr>
                                        <th  class="mdl-data-table__cell--non-numeric">FIRST NAME</th>
                                        <th  class="mdl-data-table__cell--non-numeric">MIDDLE NAME</th>
                                        <th  class="mdl-data-table__cell--non-numeric">LAST NAME</th>
                                        <th  class="mdl-data-table__cell--non-numeric">MRN</th>
                                        <th  class="mdl-data-table__cell--non-numeric">AGE</th>
                                        <th  class="mdl-data-table__cell--non-numeric">INVESTIGATION NAME</th>
                                        <th  class="mdl-data-table__cell--non-numeric">INVESTIGATION RESULTS</th>
                                        <th  class="mdl-data-table__cell--non-numeric">DATE ATTENDED</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="emergencies in reportData">
                                        <td  class="mdl-data-table__cell--non-numeric">{{emergencies.first_name}}</td>
                                        <td  class="mdl-data-table__cell--non-numeric">{{emergencies.middle_name}}</td>
                                        <td  class="mdl-data-table__cell--non-numeric">{{emergencies.last_name}}</td>
                                        <td  class="mdl-data-table__cell--non-numeric">{{emergencies.medical_record_number}}</td>
                                        <td  class="mdl-data-table__cell--non-numeric">{{emergencies.Ages}}</td>
                                        <td  class="mdl-data-table__cell--non-numeric">{{emergencies.item_name}}</td>
                                        <td  class="mdl-data-table__cell--non-numeric">{{emergencies.description.trunc(20)}} <a ng-click="lauchDescription(emergencies)">view more</a></td>
                                        <td  class="mdl-data-table__cell--non-numeric">{{emergencies.created_at}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </md-content>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-card>
        </md-content>
    </div>

</div>