node_modules/
public/storage/
public/hot/
storage/*.key
vendor/
/.idea
Homestead.json
Homestead.yaml
.env
.env.save
public/bower_components/
documents/
.idea/
scripts.zip
t.txt
public/uploads/
*.BAT*
*.exe
storage/logs/laravel.log
*.sql
.DS_Store
./**/*.DS_Store
