<div id="wrapper" ng-controller='rolesController'>

    <ng-include src="'public'">



        <ng-include src="'public'">
            <!--  include search box 
        <ng-include src="'/views/searchBox.html'">
        -->
            <div class="row">
                <!--  include registration form -->
                <div ng-if='menu.length >0'>
                    <ng-include src="'/views/modules/admin/permuser.html'">
                </div>
                <div ng-if='menu.length < 1'>
                    <button class='btn btn-danger '>The MENU is Temporarily Unavailable</button>
                </div>
            </div>

            <ng-include src="'/views/footer.html'">

</div>
</div>