

<div>
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile  style="background-color:teal;cursor:pointer;" ng-click="showDoctorsPerfomances()">
                <md-grid-tile-content>
                    <md-icon style="fill: white; height: 54px; width: 54px;" md-svg-icon="reports"></md-icon>
                </md-grid-tile-content>
                <md-grid-tile-footer>
                    <h3 align="center">DOCTORS REPORT</h3>
                </md-grid-tile-footer>

        </md-grid-tile>

        <md-grid-tile  style="background-color:teal;cursor:pointer;" >
                <md-grid-tile-content>
                    <md-icon style="fill: white; height: 54px; width: 54px;" md-svg-icon="reports"></md-icon>
                </md-grid-tile-content>
                <md-grid-tile-footer>
                    <h3 align="center">NURSES</h3>
                </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile  style="background-color:teal;cursor:pointer;" >
                <md-grid-tile-content>
                    <md-icon style="fill: white; height: 54px; width: 54px;" md-svg-icon="reports"></md-icon>
                </md-grid-tile-content>
                <md-grid-tile-footer>
                    <h3 align="center">LAB TECHNOLOGISTS</h3>
                </md-grid-tile-footer>

        </md-grid-tile>


    </md-grid-list>
</div>

