<style>
    .app-modal-window .modal-dialog {
        width: 1100px;
    }

</style>
<div class="app-modal-window wrapper wrapper-content animated fadeInRight" ng-controller="ctcController">
    <div class="row">
        <div class="col-md-12 form-box">
            <form  role="form" class="clinical-form" action="javascript:void(0);">
                <fieldset>
                    <div class="form-top">
                        <div class="form-top-left">
                            <p><span class="fa fa-desktop"></span>{{ctcQues.first_name}} {{ctcQues.middle_name}} {{ctcQues.last_name}} ({{ctcQues.medical_record_number}})

                                <span class="pull-right"> DOB: {{ctcQues.dob}} &nbsp;&nbsp; GENDER: {{ctcQues.gender}}  </span>
                            </p>

                        </div>
                    </div>
                    <div class="form-bottom">

                        <div class="row">
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="form5">NAME OF TREATMENT SUPPORTER*</label>
                                <div class="md-form form-sm">
                                    <input type="text" id="form5" ng-model="patient_support.treatment_supporter" class="form-control">

                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-4">
                                <label for="form6">TELEPHONE No. OF TREATMENT SUPPORTER*</label>
                                <div class="md-form form-sm ">
                                    <input type="text" id="form6" ng-model="patient_support.phone_supporter" class="form-control" >

                                </div>
                            </div>

                            <div class="form-group col-md-4 col-sm-4">
                                <label>PATIENT VISIT TYPE*</label>
                                <div class="md-form form-sm ">
                                    <select  ng-model="patient_support.patient_visit" class="form-control"  >
                                        <option value="" >Patient Visit Type</option>
                                        <option value="S">Scheduled Visit at this clinic</option>
                                        <option value="US">UnScheduled Visit at this clinic</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 ">
                                PATIENT JOINED COMMUNITY SUPPORT ORGANISATION
                            </div>

                            <div class="form-group col-md-2">
                                YES<input type="checkbox" ng-model="patient_support.yes" class="form-control" >
                            </div>
                            <div class="form-group col-md-2">
                                NO<input type="checkbox"  ng-model="patient_support.no" class="form-control">

                            </div>
                            <div class="form-group col-md-4">

                                <label for="form6">NAME OF ORGANISATION/GROUP</label>
                                <div class="md-form form-sm ">
                                    <input type="text" id="form6" ng-model="patient_support.organisation" class="form-control" >

                                </div>


                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                            <button class="btn btn-success" ng-click="saveCTCPatientSupport(patient_support,ctcQues)">SAVE</button>
                            </div>
                        </div>

        </div>



    </div>





</div>


