<div ng-cloak="">
    <md-content>
      <center> <h5 class="text-center">PATIENTS TRACKING PANEL</h5></center>
        <hr>
        <div layout="row">
           <div flex="50">

           </div> <div flex="50">
            <md-input-container >
                <label>Choose Start Date</label>
                <input ng-model="pef.start_date" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
            </md-input-container>
            <md-input-container >
                <label>Choose End Date</label>
                <input ng-model="pef.end_date" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary" ng-click="Patient_tracer(pef)">Search</md-button>
            </md-input-container>
           </div>
        </div>
        <div layout="row">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="100%" >
                <thead style="background-color:beige">
                <th class="mdl-data-table__cell--non-numeric">SN</th>
                <th class="mdl-data-table__cell--non-numeric">Medical Record Number</th>
                <th class="mdl-data-table__cell--non-numeric">Patient Names</th>
                <th class="mdl-data-table__cell--non-numeric">Date Attended</th>
                <th class="mdl-data-table__cell--non-numeric">Action</th>

                </thead>

                <tbody>
                <tr ng-repeat="tracer in tracer_lists track by $index" title="Tracing... {{tracer.patient_names}}">

                    <td class="mdl-data-table__cell--non-numeric"> {{$index +1}}</td>
                    <td class="mdl-data-table__cell--non-numeric"> {{tracer.medical_record_number}}</td>
                    <td class="mdl-data-table__cell--non-numeric"> {{tracer.patient_names}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{tracer.created_at}}</td>
                    <td class="mdl-data-table__cell--non-numeric" ><md-button class="md-primary md-raised" ng-click="View_patient_flow(tracer)">Trace</md-button></td>

                </tr>

                </tbody>
            </table>
        </div>
    </md-content>
</div>