<div class="wrapper wrapper-content animated fadeInRight" ng-controller='ipdController'>
    <div class="row">
        <div class="col-md-12 form-box">
            <form  role="form" class="payments-form" action="javascript:void(0);">
                <fieldset>
                    <div class="form-top">
                        <div class="form-top-left">
                            <h4><i class="fa fa-bed" aria-hidden="true">Diagnosis</i><span class="pull-right">{{"Name: " +patientDetails.first_name}} {{patientDetails.middle_name}} {{patientDetails.last_name}}&nbsp;&nbsp;&nbsp;  {{"MRN: "+patientDetails.medical_record_number}}&nbsp;&nbsp;&nbsp; {{" A/C#: "+patientDetails.account_number}}&nbsp;&nbsp;&nbsp; {{"DoB: "+patientDetails.dob}}&nbsp;&nbsp;&nbsp;  {{"Gender: "+patientDetails.gender}}</span> </h4>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="row">
                           <div class="col-xs-6">
                               <uib-accordion ng-repeat="diag in diagnosisData" close-others="oneAtATime">
                                   <div uib-accordion-group class=""  heading="Diagnosis of : {{diag.date_attended}}" ng-click="getDiagnosis(diag)">
                                       <ul class="list-group" ng-repeat="prev in prevDiagnosis">
                                           <li class="list-group-item">
                                               {{prev.description}} -> {{prev.status}}
                                           </li>
                                       </ul>
                                   </div>
                               </uib-accordion>
                           </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>