<style>
    .app-modal-window .modal-dialog {
        width: 1200px;
    }
    .horizontal-collapse {
        height: 70px;
    }
    .navbar-collapse.in {
        overflow-y: hidden;
    }


    .card .card-image{
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .card .card-image img{
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    /*.card .card-image:hover img{*/
    /*-webkit-transform: scale(1.2) rotate(-7deg);*/
    /*-moz-transform: scale(1.2) rotate(-7deg);*/
    /*-ms-transform: scale(1.2) rotate(-7deg);*/
    /*-o-transform: scale(1.2) rotate(-7deg);*/
    /*transform: scale(1.2) rotate(-7deg);*/
    /*}*/

    .card{
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        position: relative;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .card .card-content {
        padding: 10px;
    }

    .card .card-content .card-title, .card-reveal .card-title{
        font-size: 24px;
        font-weight: 200;
    }

    .card .card-action{
        padding: 20px;
        border-top: 1px solid rgba(160, 160, 160, 0.2);
    }
    .card .card-action a{
        font-size: 15px;
        color: #ffab40;
        text-transform:uppercase;
        margin-right: 20px;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    .card .card-action a:hover{
        color:#ffd8a6;
        text-decoration:none;
    }

    .card .card-reveal{
        padding: 20px;
        position: absolute;
        background-color: #FFF;
        width: 100%;
        overflow-y: auto;
        /*top: 0;*/
        left:0;
        bottom:0;
        height: 100%;
        z-index: 1;
        display: none;
    }

    .card .card-reveal p{
        color: rgba(0, 0, 0, 0.71);
        margin:20px ;
    }

    .btn-custom{
        background-color: transparent;
        font-size:12px;
    }
    .my-legend .legend-scale ul {
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        float: left;
        list-style: none;
    }
    .my-legend .legend-scale ul li {
        display: inline-block;
        Font-Family: Metric-Regular;
        Font-Size: 12px;
        Color: #666666;
        list-style: none;
        line-height: 18px;
        vertical-align: text-top;
    }
    .my-legend ul.legend-labels li span {
        display: inline-block;
        height: 9px;
        width: 9px;
        margin-right: 5px;
        margin-left: 10px;
    }
</style>
<div class="col-md-12 form-box">

</div>
<br><br>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller='VctController'>
    <div class="row">
        <div class="col-md-12 form-box">
            <form  role="form" class="clinical-form" action="javascript:void(0);">
                <fieldset>
                    <div class="form-top">
                        <div class=" ">
                            <b  ><span ><i class="fa fa-user" aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;{{tbs.first_name}} {{tbs.middle_name}} {{tbs.last_name}} &nbsp;&nbsp;&nbsp;  {{"MRN: "+tbs.medical_record_number}}&nbsp;&nbsp;&nbsp;   {{"DoB: "+tbs.dob}}&nbsp;&nbsp;&nbsp;  {{"Gender: "+tbs.gender}}&nbsp;&nbsp;&nbsp;Age: &nbsp;  <b ng-if="tbs.age" >  {{ tbs.age}}</b> <b ng-if="month >0 && year >0">  {{patientAge}}</b> <b ng-if="month <1 && year <1">{{ day}}</b>  </b>


                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="row hidden-print">
                            <!--<ul class="nav nav-tabs nav-justified" >-->
                            <!--<li ng-class="{active: isSet(8) }"><a href ng-click="setTab(8)">Pre-record</a></li>-->

                            <!--</ul>-->
                            <br>


                        </div>
                        <div class="row">

                            <div >
                                <div class="wrapper wrapper-content animated fadeInRight">
                                    <div class="row">
                                        <div class="col-md-12 form-box">
                                            <form   role="form" class="registration-form" action="javascript:void(0);">
                                                <fieldset>


                                                    <div class="form-bottom">
                                                        <div class="row">


                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Client Attendance Type </label>
                                                                <select type="text" ng-model="vct.attendance_type" class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option value="MP">New Client</option>
                                                                    <option value="HM">Re-attendance</option>

                                                                </select>
                                                            </div>

                                                            <div class="form-group col-md-3 col-sm-6" ng-if=" year >9 && tbs.gender=='FEMALE'">
                                                                <label> Pregnancy Record </label>
                                                                <select type="text" ng-model="vct.pregnancy_record" class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option value="MO">Pregnant</option>
                                                                    <option value="SM">Not Pregnant</option>
                                                                    <option value="HA">Unknown</option>
                                                                    <option value="HH">Irrelevant</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Client From </label>
                                                                <select type="text" ng-model="vct.client_from" class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option value="{{department.id}}" ng-repeat="department in departments">{{department.department_name}}</option>
                                                                    <option value="other">Other Place</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6" ng-if="vct.client_from=='other'">
                                                                <label> Client From Other Places </label>
                                                                <input type="text" ng-model="vct.client_from_other" class="form-control">

                                                            </div>

                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Counselling Type</label>
                                                                <select type="text" ng-model="vct.counselling_type" class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option value="MY">Client/Client Alone</option>
                                                                    <option value="MM">Client and Partner</option>
                                                                    <option value="KU">Group</option>
                                                                    <option value="MZ">Client and Parent/Guardian</option>


                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Agreed VVU Test </label>
                                                                <select type="text" ng-model="vct.agreed_vvu_test " class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option >YES</option>
                                                                    <option >NO</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Counselling After Test </label>
                                                                <select type="text" ng-model="vct.counselling_after_test " class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option >YES</option>
                                                                    <option >NO</option>

                                                                </select>
                                                            </div>

                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> VVU Test Tesult </label>
                                                                <select type="text" ng-model="vct.vvu_test_result " class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option >POSITIVE</option>
                                                                    <option >NEGATIVE</option>
                                                                    <option >HAS NOT TEST</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Participatory Test Tesult </label>
                                                                <select type="text" ng-model="vct.participatory_test_result " class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option value="ME">HUSBAND</option>
                                                                    <option value="MK">WIFE</option>
                                                                    <option value="MW">PARTNER</option>
                                                                    <option value="ND">RELATIVE</option>
                                                                    <option value="RF">FRIEND</option>
                                                                    <option value="KD">RELIGION LEADER</option>
                                                                    <option  >NONE</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> TB Test    </label>
                                                                <select type="text" ng-model="vct.tb_test " class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option >YES</option>
                                                                    <option >NO</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> TB Test Result   </label>
                                                                <select type="text" ng-model="vct.tb_test_result " class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option value="KU">TB CARRIER</option>
                                                                    <option value="HL">NO TB SYMPTOMS/SIGNS</option>
                                                                    <option value="AK">CONFIRMED HAS TB </option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Client Referred to   </label>
                                                                <select type="text" ng-model="vct.referral_to" class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option value="{{department.id}}" ng-repeat="department in departments">{{department.department_name}}</option>
                                                                    <option value="other">Other Place</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6" ng-if="vct.referral_to=='other'">
                                                                <label> Client Referring To Other Places </label>
                                                                <input type="text" ng-model="vct.referral_to_other" class="form-control">

                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Condom Given  </label>
                                                                <select type="text" ng-model="vct.condom_given" class="form-control">
                                                                    <option value="">----option----</option>
                                                                    <option >YES</option>
                                                                    <option >NO</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-6">
                                                                <label> Comments  </label>
                                                                <textarea rows="2" cols="1" ng-model="vct.comment" class="form-control">


                                                                </textarea>
                                                            </div>





                                                            <button  type="submit" class="btn btn-success" ng-click="vct_registration(vct,tbs)"> Save </button>

                                                        </div>


                                                    </div>
                                                </fieldset>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>








                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<button type="button" ng-click="closeModal()" class="btn btn-info pull-right hidden-print">Close this window</button>