<div ng-controller="AuthController">

<style>
    .bottomSheetdemoBasicUsage .md-inline-list-icon-label {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -10px;
        height: 24px;
        vertical-align: middle;
    }
    .bottomSheetdemoBasicUsage .md-grid-item-content {
        height: 90px;
        padding-top: 10px; }

    .bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
        height: 52px;
        width: 52px; }

    .bottomSheetdemoBasicUsage .md-grid-text {
        padding-bottom: 5px; }

    .bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
        min-height: 48px; }

    .bottomSheetdemoBasicUsage h2 {
        line-height: 36px;
        padding-top: 10px; }

    .bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
        padding: 0; }

    .bottomSheetdemoBasicUsage md-toast .md-toast-content {
        background-color: #B14141; }

    .bottomSheetdemoBasicUsage md-toast > * {
        font-weight: bolder; }
</style>
<md-bottom-sheet class="md-grid" layout="column">
 <md-button class="md-icon-button pull-right" ng-click="cancelSheet()">
                <md-icon md-svg-src="/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
            <h2 align="center">OTEAS LOGIN FORM</h2>
            
           

    
    <div class="login-form-container bg-login"  layout="row" layout-align="center center" >

    <form name="form" class="login-form md-whiteframe-z2" style="border-radius:10px;background-color:white;border-top:2px solid blue;border-bottom:2px solid green;" novalidate ng-submit="auth.login()">

        <div class="logo-container">

            <img src="/img/thumb_gov_tanzania_logo.png" alt="" class="img-responsive center-block">
            <div class="logo-text">
                <h2 style="font-size:18px; font-weight:600;">OTEAS <small> 2.8 </small></h2>
            </div>
        </div>
        <md-content layout-padding layout="column">
            <md-input-container>
                <label>Username</label>
                <input value="" autocomplete="off" type="email" name="email" ng-model="auth.email" required md-autofocus autofocus/>
                <div ng-messages="form.email.$error">
                    <div ng-message="required">Can not be blank.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input autocomplete="new-password" value="" autocomplete="off" type="password" name="password" ng-model="auth.password" required/>
                <div ng-messages="form.password.$error">
                    <div ng-message="required">Can not be blank.</div>
                </div>
            </md-input-container>
        </md-content>
        <div ng-if="Loads" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-button ng-disabled="form.$invalid" ng-submit="auth.login()" type="submit" class="md-raised md-primary">Sign In</md-button>
    </form>

	
	
	
	
</div>
     <div><br><br><br></div>
	<div><br><br><br></div>
	<div><br><br><br></div>
	<div><br><br><br></div>
	<div><br><br><br></div>
	<div><br><br><br><br></div>
	
</md-bottom-sheet>

</div>













