<div>
    <div style="padding-right: 10px;">
        <md-content>
            <md-card>
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2 style="font-size: 124%" align="center" flex md-truncate>Emergency Department</h2>
                    </div>
                </md-toolbar>
                <br>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Consultation Queue">
                        <md-content class="md-padding">
                            <form  name="searchForm">
                                <div layout-gt-sm="row">
                                    <md-autocomplete flex  flex
                                                     md-search-text="searchText"
                                                     md-input-name="patient"
                                                     md-no-cache="true"
                                                     md-items="item in TraumaSeachQueue(search)"
                                                     md-item-text="item.medical_record_number"
                                                     md-selected-item-change="selectedPatientToSearch(item)"
                                                     md-floating-label="Search Patients"
                                                     md-clear-button="true"
                                                     md-min-length="4" md-autofocus>
                                        <md-item-template>
                                            <span md-highlight-text="searchText">{{item.first_name}} {{item.middle_name}} {{item.last_name}} {{item.medical_record_number}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </div>
                            </form>
                            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                                <div ng-repeat="pt in patientData" class="mdl-chip mdl-chip--contact mdl-chip--deletable" ng-click="checkAttendance(pt)">
                                    <a style="color: black" href="">
                                        <span class="mdl-chip__contact mdl-color--red-400 mdl-color-text--white">{{pt.first_name | limitTo: 1 }}</span>
                                        <span class="mdl-chip__text" >{{pt.first_name | uppercase}} {{pt.middle_name| uppercase}} {{pt.last_name|
                                    uppercase}} </span>
                                        <a  class="mdl-chip__action"></a>
                                    </a>
                                </div>
                            </md-grid-list>
                        </md-content>
                    </md-tab>
                    <md-tab label="Treatment Queue">
                        <md-content class="md-padding">
                            <form  name="searchForm">
                                <div layout-gt-sm="row">
                                    <md-autocomplete flex  flex
                                                     md-search-text="searchTexts"
                                                     md-input-name="patient"
                                                     md-no-cache="true"
                                                     md-items="item in TraumaTreatmentSeachQueue(search)"
                                                     md-item-text="item.medical_record_number"
                                                     md-selected-item-change="selectedPatientToSearch(item)"
                                                     md-floating-label="Search Patients"
                                                     md-clear-button="true"
                                                     md-min-length="4" md-autofocus>
                                        <md-item-template>
                                            <span md-highlight-text="searchText">{{item.first_name}} {{item.middle_name}} {{item.last_name}} {{item.medical_record_number}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </div>
                            </form>
                            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                                <div ng-repeat="pt in patientInvData" class="mdl-chip mdl-chip--contact mdl-chip--deletable" ng-click="selectedPatientToSearch(pt)">
                                    <a style="color: black" href="">
                                        <span class="mdl-chip__contact mdl-color--orange mdl-color-text--white">{{pt.first_name | limitTo: 1 }}</span>
                                        <span class="mdl-chip__text" >{{pt.first_name | uppercase}} {{pt.middle_name| uppercase}} {{pt.last_name|
                                    uppercase}} </span>
                                        <a  class="mdl-chip__action"></a>
                                    </a>
                                </div>
                            </md-grid-list>
                        </md-content>
                    </md-tab>
                    <md-tab label="death certification">
                        <md-content class="md-padding">
                            <md-input-container class="md-block">
                                <input type="text" autocomplete="off" placeholder="Search corpse here..." uib-typeahead="cps as cps.first_name+' '+cps.last_name for cps in showCorpse($viewValue) |filter:$viewValue |limitTo:5" ng-model="selectedCorpse"
                                       typeahead-on-select="getCorpseModal($item)">
                            </md-input-container>
                            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                                <div  ng-repeat="corpse in corpseData" class="mdl-chip mdl-chip--contact mdl-chip--deletable" ng-click="getCorpseModal(corpse)">
                                    <a style="color: black" href="">
                                        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{corpse.first_name | limitTo: 1 }}</span>
                                        <span class="mdl-chip__text" >{{corpse.first_name | uppercase}} {{corpse.middle_name| uppercase}} {{corpse.last_name|
                                    uppercase}} </span>
                                        <a  class="mdl-chip__action"></a>
                                    </a>
                                </div>
                            </md-grid-list>
                        </md-content>
                    </md-tab>
                    <md-tab label="my performance">
                        <md-content class="md-padding">
                            <div layout="row">
                                <md-input-container >
                                    <label>Choose Start Date</label>
                                    <input ng-model="pef.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                                </md-input-container>
                                <md-input-container >
                                    <label>Choose End Date</label>
                                    <input ng-model="pef.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                                </md-input-container>
                                <md-input-container>
                                    <md-button class="md-raised md-primary" ng-click="getPerformance(pef)">Search</md-button>
                                </md-input-container>
                            </div>
                            <div layout="row" ng-if="performanceRange.length>0 || performanceThisMonth.length>0">
                                 <strong>{{"Dear "+currentUser.name}}</strong>, you have consulted {{performanceRange[0].total_clients}} patients from {{ pef.start }} to {{ pef.end }}.

                                Also a total of {{performanceThisMonth[0].total_patients}} patients this current month. <br>
                                Thank you!
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </md-card>
        </md-content>
    </div>
</div>

