<md-dialog flex="90">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <p>
                    {{patientData.first_name| uppercase}}
                    {{patientData.middle_name| uppercase}} {{patientData.last_name| uppercase}} ({{patientData.medical_record_number}})

                </p>
                <p>{{getLastVisit}}</p>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                  <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="BILLING">
                        <md-content class="md-padding">
                             <div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Payment Category</label>
                              <md-select ng-model="encounter.payment_category"
                                               ng-change="getPricedItems(encounter.payment_category)">
                                        <md-option value=""></md-option>
                                        <md-option ng-repeat="patientCat in patientCategory"
                                                   value="{{patientCat.patient_category}}">
                                            {{patientCat.patient_category}}
                                        </md-option>
                                    </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Services</label>
                            <input type="text" autocomplete="off" ng-model="encounter.payment_services"
                                   uib-typeahead =" patientCat as patientCat.item_name +' '+ patientCat.price for  patientCat in services | filter:$viewValue">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex="50">
                            <label>Type of Emergency</label>
                            <md-select placeholder="Type of Emergency" ng-model="encounter.emergency_name" md-on-open="loadEmergency()" style="min-width: 200px;">
                                <md-option ng-value="user" ng-repeat="user in emergency_list">{{user.emergency_name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex="50">
                            <label>Send Patient to</label>
                            <md-select placeholder="Send Patient To" ng-model="encounter.department" md-on-open="getDepartment()" style="min-width: 200px;">
                                <md-option ng-value="user" ng-repeat="user in state">{{user.department_name}}</md-option>
                                <md-option ng-value="user" ng-repeat="user in departments">{{user.department_name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-button class="md-primary md-raised" ng-click="enterEncounter(patientData,residences,encounter,patientData.id,patientData.facility_id,accounts_number.id)">
                        ENTER ENCOUNTER
                    </md-button>
                </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="EXEMPTION">
                        <div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Exemption Type</label>
                            <md-select ng-model="exempt.exemption_type_id">
                                <md-option ng-value={{exemption_type}} ng-repeat="exemption_type in exemption_types">
                                    {{exemption_type.exemption_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Services</label>
                            <input type="text" ng-model="exempt.service" class="md-block" autocomplete="off"
                                   uib-typeahead =" exemption_service as exemption_service.item_name   for  exemption_service in exemption_services | filter:$viewValue">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex="50">
                            <label>Type of Emergency</label>
                            <md-select placeholder="Type of Emergency" ng-model="exempt.emergency_name" md-on-open="loadEmergency()" style="min-width: 200px;">
                                <md-option ng-value="user" ng-repeat="user in emergency_list">{{user.emergency_name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex="50">
                            <label>Exemption Reason</label>
                            <input type="text" autocomplete="off" ng-model="exempt.exemption_reason"
                            >
                        </md-input-container>
                    </div>
                    <md-button class="md-primary md-raised" ng-click="enter_emergency_Exemption(exempt,patientData,accounts_number.id)">
                        ENTER ENCOUNTER
                    </md-button>
                </div>
                    </md-tab>
               
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>