
<md-dialog class="fullscreen-dialog">
 <md-toolbar>
        <div class="md-toolbar-tools">
            <div layout="row"  layout-align="space-between center">
    <h1 align="center">WELCOME TO SYSTEM LOGIN FORM</h1>

    
</div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
 <md-dialog-content>
        <div class="md-dialog-content">



                 
<div  layout="row" class="login-form-container bg-login" layout-align="center center">

    <form name="form" class="login-form md-whiteframe-z2" style="border-radius:10px;background-color:white;border-top:2px solid blue;border-bottom:2px solid green;" novalidate ng-submit="auth.login()">

        <md-content layout-padding layout="column">
		
        <div class="logo-container">

            <img src="/img/thumb_gov_tanzania_logo.png" alt="" class="img-responsive center-block">
            <div class="logo-text">
                <h2 style="font-size:18px; font-weight:600;">OTEAS <small> 2.5</small></h2>
            </div>
        </div>
            <md-input-container>
                <label>Username</label>
                <input value="" autocomplete="off" type="text" name="email" ng-model="auth.email" required md-autofocus autofocus/>
             </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input autocomplete="new-password" value="" autocomplete="off" type="password" name="password" ng-model="auth.password" required/>
                <div ng-messages="form.password.$error">
                    <div ng-message="required">Can not be blank.</div>
                </div>
            </md-input-container>
        </md-content>
        <div ng-if="Loads" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-button ng-disabled="form.$invalid" type="submit" class="md-raised md-primary" ng-click="submitCredentials(auth)">Sign In</md-button>
    </form>

</div>
 
 </md-dialog-content>

</md-dialog>
