 <md-content class="md-padding">
				
				 <vertical-tabs >
                            				
							
							
				<vertical-tab-pane title="Applicants">
				
				<md-tabs md-dynamic-height md-border-bottom>
                
				<md-tab label="Applications">
                <md-content class="md-padding">
                  <div layout="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Candidate"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="getApplicationLists.length >0">
                                           <tbody>
                      <tr>
                   <td>S/No. </td>
             <td>Candidate Name</td>  
             <td>Form Four Index No.</td>  
             <td>First Choice</td>  
             <td>Second Choice</td>  
             <td>Third Choice</td>  
             <td>Fourth Choice</td>  
             <td>Fifth Choice</td>  
             
			 </tr> 
			 
			<tr ng-repeat="getApplicationList in getApplicationLists track by $index">
            <td>{{$index +1}}</td>
            <td>{{getApplicationList.first_name}} {{getApplicationList.last_name}}</td>
            <td>{{getApplicationList.form_four_index}}/{{getApplicationList.year_certified}}</td>
            <td>{{getApplicationList.first_choice}}</td>
            <td>{{getApplicationList.second_choice}}</td>
            <td>{{getApplicationList.third_choice}}</td>
            <td>{{getApplicationList.fourth_choice}}</td>
            <td>{{getApplicationList.fifth_choice}}</td>
                                               
   
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="getApplicationLists.length >0" class="md-raised md-primary pull-right" ng-click="printApplications(getApplicationLists)">PRINT</md-button>

						
                        </div> 
						
						
						 		
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="SELECTED TO COUNCILS" ng-click="getListSelectedToCouncils()">
                <md-content class="md-padding">
				
				 <div layout="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Candidate"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          
                        </div> 
                 			
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="getApplicationLists.length >0">
                                           <tbody>
                      <tr>
                   <td>S/No </td>
             <td>Applicant Name</td>  
             <td>Gender</td>  
             <td>Reg #</td>  
             <td>College</td>  
             <td>Region</td>  
             <td>Council Posted</td> 
             </tr> 
			 
			<tr ng-repeat="selectedApplicant in selectedApplicants track by $index">
            <td>{{$index +1}}</td>
            <td>{{selectedApplicant.first_name+' '+selectedApplicant.last_name}}</td>
            <td>{{selectedApplicant.gender}}</td>
      <td>{{selectedApplicant.form_four_index}}/{{selectedApplicant.year_certified}}</td>
            <td>{{selectedApplicant.college_name}}</td>
            <td>{{selectedApplicant.region_name}}</td>
            <td>{{selectedApplicant.council_name}}</td>
                                            
    
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					 	
				   
				   
				   
                </md-content>
                </md-tab>
				<md-tab label="SELECTED TO SCHOOLS" ng-click="getListSelectedToSchools()">
                <md-content class="md-padding">
				
				 <div layout="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Candidate"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          
                        </div> 
                 			
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="getApplicationLists.length >0">
                                           <tbody>
                      <tr>
                   <td>S/No </td>
             <td>Applicant Name</td>  
             <td>Gender</td>  
             <td>Reg #</td>  
             <td>College</td>  
             <td>Region</td>  
             <td>Council Posted</td> 
             <td>School</td> 
             </tr> 
			 
			<tr ng-repeat="selectedApplicantsToSchool in selectedApplicantsToSchools track by $index">
            <td>{{$index +1}}</td>
            <td>{{selectedApplicantsToSchool.first_name+' '+selectedApplicantsToSchool.last_name}}</td>
            <td>{{selectedApplicantsToSchool.gender}}</td>
      <td>{{selectedApplicantsToSchool.form_four_index}}/{{selectedApplicantsToSchool.year_certified}}</td>
            <td>{{selectedApplicantsToSchool.college_name}}</td>
            <td>{{selectedApplicantsToSchool.region_name}}</td>
            <td>{{selectedApplicantsToSchool.council_name}}</td>
            <td>{{selectedApplicantsToSchool.school_name}}</td>
                                            
    
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					 	
				   
				   
				   
                </md-content>
                </md-tab>
				
				
				
				<md-tab label="Report">
                <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Council</label>
           <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                              <md-option value="">Please select Council</md-option>
                  <md-option ng-repeat="council in councils"  value="{{council.id}}">{{council.council_name}}</md-option>
                               </md-select>
                          </md-input-container>
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length ==5" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="Registered List">
                <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Council</label>
           <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                              <md-option value="">Please select Council</md-option>
                  <md-option ng-repeat="council in councils"  value="{{council.id}}">{{council.council_name}}</md-option>
                               </md-select>
                          </md-input-container>
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length ==5" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>	
				<md-tab label="Register">
                <md-content class="md-padding">
                 <div layout-gt-sm="row">
				<md-input-container class="md-block" flex>
                             
    <input type="file"  name="file"   ng-files="getExcelFiles($files)" >
                </md-input-container>
				
				<md-input-container>

  <md-button class="md-raised md-primary pull-right" ng-click="applicantsUpload()">Upload</md-button>   
   </md-input-container>
                        </div> 	   
				   
                </md-content>
                </md-tab>
			    </md-tabs>	
				
				
				
				
				
				
				
														
								
       
       
        
				                             
                            </vertical-tab-pane>
							
	<vertical-tab-pane title="Primary Teachers: Placement">
				
				<md-tabs md-dynamic-height md-border-bottom>
                
				<md-tab label="Council Placement ">
                 <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addRegionsForPlacement()">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length >0" class="md-raised md-primary pull-right" ng-click="makePlacementPrimary(selectionsDone)">MAKE PLACEMENT</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="SCHOOL PLACEMENT" ng-click="getApplications()">
                <md-content class="md-padding">
				
				 <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="regionPerschool"
                            md-input-name="schoolPlacement"
                            md-no-cache="false"
                            md-items="item in getRegion(regionPerschool)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region for getting councils to allocate schools to selected candidate"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addRegionsForSchoolPlacement()">ADD</md-button>

                          </md-input-container>
                        </div> 
                 			
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="schoolSelectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in schoolSelectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,schoolSelectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="schoolSelectionsDone.length >0" class="md-raised md-primary pull-right" ng-click="makePlacementPrimarySchool(schoolSelectionsDone)">MAKE PLACEMENT</md-button>

						
                        </div> 
					 	
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="Status">
                <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Council</label>
           <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                              <md-option value="">Please select Council</md-option>
                  <md-option ng-repeat="council in councils"  value="{{council.id}}">{{council.council_name}}</md-option>
                               </md-select>
                          </md-input-container>
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length ==5" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="Report">
                <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Council</label>
           <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                              <md-option value="">Please select Council</md-option>
                  <md-option ng-repeat="council in councils"  value="{{council.id}}">{{council.council_name}}</md-option>
                               </md-select>
                          </md-input-container>
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length ==5" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="Registered List">
                <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Council</label>
           <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                              <md-option value="">Please select Council</md-option>
                  <md-option ng-repeat="council in councils"  value="{{council.id}}">{{council.council_name}}</md-option>
                               </md-select>
                          </md-input-container>
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length ==5" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>	
				<md-tab label="Register">
                <md-content class="md-padding">
                 <div layout-gt-sm="row">
				<md-input-container class="md-block" flex>
                             
    <input type="file"  name="file"   ng-files="getExcelFiles($files)" >
                </md-input-container>
				
				<md-input-container>

  <md-button class="md-raised md-primary pull-right" ng-click="applicantsUpload()">Upload</md-button>   
   </md-input-container>
                        </div> 	   
				   
                </md-content>
                </md-tab>
			    </md-tabs>	
				
				
				
				
				
				
				
														
								
       
       
        
				                             
                            </vertical-tab-pane>
	<vertical-tab-pane title="Secondary Teachers: Placement">
				
				<md-tabs md-dynamic-height md-border-bottom>
                
				<md-tab label="Applications">
                <md-content class="md-padding">
                  <div layout="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Candidate"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="getApplicationLists.length >0">
                                           <tbody>
                      <tr>
                   <td>S/No. </td>
             <td>Candidate Name</td>  
             <td>Form Four Index No.</td>  
             <td>First Choice</td>  
             <td>Second Choice</td>  
             <td>Third Choice</td>  
             <td>Fourth Choice</td>  
             <td>Fifth Choice</td>  
             
			 </tr> 
			 
			<tr ng-repeat="getApplicationList in getApplicationLists track by $index">
            <td>{{$index +1}}</td>
            <td>{{getApplicationList.first_name}} {{getApplicationList.last_name}}</td>
            <td>{{getApplicationList.form_four_index}}/{{getApplicationList.year_certified}}</td>
            <td>{{getApplicationList.first_choice}}</td>
            <td>{{getApplicationList.second_choice}}</td>
            <td>{{getApplicationList.third_choice}}</td>
            <td>{{getApplicationList.fourth_choice}}</td>
            <td>{{getApplicationList.fifth_choice}}</td>
                                               
   
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="getApplicationLists.length >0" class="md-raised md-primary pull-right" ng-click="printApplications(getApplicationLists)">PRINT</md-button>

						
                        </div> 
						
						
						 		
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="SELECTED" ng-click="getApplications()">
                <md-content class="md-padding">
				
				 <div layout="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Candidate"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          
                        </div> 
                 			
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="getApplicationLists.length >0">
                                           <tbody>
                      <tr>
                   <td>S/No </td>
             <td>Applicant Name</td>  
             <td>Gender</td>  
             <td>Reg #</td>  
             <td>Subjects</td>  
             <td>College</td>  
             <td>Council Posted</td> 
             <td>School Posted</td> 
			 </tr> 
			 
			<tr ng-repeat="application in getApplicationLists track by $index">
            <td>{{$index +1}}</td>
            <td>{{application.first_name+' '+application.last_name}}</td>
            <td>{{application.gender}}</td>
            <td>{{application.form_four_index}}/{{getApplicationList}}</td>
            <td>--</td>
            <td>--</td>
            <td>{{application.first_choice}}</td>
            <td>--</td>
                                               
    
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					 	
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="Status">
                <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Council</label>
           <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                              <md-option value="">Please select Council</md-option>
                  <md-option ng-repeat="council in councils"  value="{{council.id}}">{{council.council_name}}</md-option>
                               </md-select>
                          </md-input-container>
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length ==5" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="Report">
                <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Council</label>
           <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                              <md-option value="">Please select Council</md-option>
                  <md-option ng-repeat="council in councils"  value="{{council.id}}">{{council.council_name}}</md-option>
                               </md-select>
                          </md-input-container>
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length ==5" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>
				
				<md-tab label="Registered List">
                <md-content class="md-padding">
                  <div layout-gt-sm="row">
                         
                            <md-autocomplete flex  flex
                            md-search-text="search"
                            md-input-name="patient"
                            md-no-cache="false"
                            md-items="item in getRegion(search)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Region"
                            md-min-length="3" md-autofocus>
                            <md-item-template>
                              <span md-highlight-text="searchText">{{item.region_name}}</span>
                            </md-item-template>
                          </md-autocomplete>
                         
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Council</label>
           <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                              <md-option value="">Please select Council</md-option>
                  <md-option ng-repeat="council in councils"  value="{{council.id}}">{{council.council_name}}</md-option>
                               </md-select>
                          </md-input-container>
						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length ==5" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                </md-tab>	
				<md-tab label="Register">
                <md-content class="md-padding">
                 <div layout-gt-sm="row">
				<md-input-container class="md-block" flex>
                             
    <input type="file"  name="file"   ng-files="getExcelFiles($files)" >
                </md-input-container>
				
				<md-input-container>

  <md-button class="md-raised md-primary pull-right" ng-click="applicantsUpload()">Upload</md-button>   
   </md-input-container>
                        </div> 	   
				   
                </md-content>
                </md-tab>
			    </md-tabs>	
				
				
				
				
				
				
				
														
								
       
       
        
				                             
                            </vertical-tab-pane>
	
	<vertical-tab-pane title="Export Registered Candidates">
	 
				<div layout="row">
				 <md-input-container class="md-block" flex-gt-sm>
                   <label>Filter By:</label>
                <md-select ng-model="apps.fieldName" required>
                <md-option value="department_name">BY DEPARTMENT</md-option>
                <md-option value="council_name">BY COUNCIL NAME</md-option>
                </md-option>
                        
                           </md-input-container>
       
        <md-input-container class="md-block" flex-gt-sm>
        <label>Filter By:</label>
        <input type="text" ng-model="apps.filter_by">
        </md-input-container>
		
        <md-input-container class="md-block" flex-gt-sm>
        <md-button class="md-raised md-primary" ng-click="exportExcel(apps)">Export As Excel</md-button>
        </md-input-container>
      
        </div>

       <div ng-if="showDownload"> File Generated <a href="../../../excel/applicants.xls" target="_self" download="applicants.xls" >Download File</a>
       </div>
		<span ng-if="permits.length ==0 "> <h3 align="center"> NO RESULTS FOUND BASED ON THIS SEARCH KEYWORD</h3>  </span>
		
		
		 <table  ng-if="permits.length >0 " class="table table-bordered" border="1" width="100%">
                                                        <caption> <b class="">
                                                            <div  class="text-center"><h8>THE UNITED REPUBLIC OF TANZANIA</h8></div>
                                                            <div  class="text-center"><h8> PRESIDENTS OFFICE REGIONAL ADMINISTRATION AND LOCAL GOVERNMENT</h8></div>
                                                            <div  class="text-center"> <img alt="image" class="img-circle" src="/img/arm.png" width="40px" height="40px" /></div>

                                                            <div  class="text-center"> </div>
                                                            <div  class="text-center"><h8> <i>LIST OF PERMITS BASED ON SEARCH RESULTS</i></h8></div>
                                                                                                        <hr>

                                                           
                                                            <P></P>
                                                            <P></P>
                                                            <P></P>
                                                           
                                                           
                                                            <hr>
                                                        </caption>

                                                         <tr style="background-color:#c1c1c1">
 <th>No.</th>  <th>COUNCIL NAME</th><th>GENDER</th><th>DEPARTMENT</th><th>SUBJECT</th> <th>PERMITS</th> </tr>
     <tr ng-repeat="permit in permits track by $index"><td>{{$index+1}}</td><td>{{permit.council_name}}</td><td>{{permit.gender}}</td><td>{{permit.department_name}}</td><td>{{permit.subject_name}}</td> <td>   {{permit.permits}}
                            </td>  </tr>


                                                    </table>
		
				                             
                            </vertical-tab-pane>
							<vertical-tab-pane title="Take Applicant Photo">
				
				 <div layout-gt-sm="row">
				 <webcam placeholder="'img/wait.gif'" on-stream="onStream(stream)"
                 on-streaming="onSuccess()"
                 on-error="onError(err)" channel="myChannel">
				 </webcam>
                       
                    </div>
                    <div layout-gt-sm="row">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                            <md-button class="md-raised md-primary" ng-click="saveModules(modules)">TAKE PHOTO</md-button>
                        </section>
                    </div>
                                                           
                            </vertical-tab-pane>	
							
							<vertical-tab-pane title="Employ Permits">
				
				 	<div layout="row">
       
         <md-input-container class="md-block" flex-gt-sm>
                            <label>Facility Code</label>
                            <input type="text" ng-model="facility_code">
         </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
        <md-button class="md-raised md-primary" ng-click="synchronizeFacilityCentrally(facility_code)">Download</md-button>
        </md-input-container>
      
        </div>             
                            </vertical-tab-pane>	
							
		<vertical-tab-pane title="Applications">
				
				 	<div layout="row">
       
         <md-input-container class="md-block" flex-gt-sm>
                            <label>BASE URL</label>
                            <input type="text" ng-model="api.ip_address">
         </md-input-container> 
		 
		 <md-input-container class="md-block" flex-gt-sm>
                            <label>PUBLIC KEYS</label>
                            <input type="text" ng-model="api.public_keys">
         </md-input-container> 
		 <md-input-container class="md-block" flex-gt-sm>
                            <label>PRIVATE KEYS</label>
                            <input type="text" ng-model="api.private_keys">
         </md-input-container>
         		    <md-select ng-model="selectedChart_"+{{selectedApi}}    placeholder="Select" class="md-no-underline">
          <md-option ng-repeat="api_type in api_types" ng-click="getApiType(api_type.id)">{{api_type.TemplateName}}</md-option>
          </md-select>
		  
      	
        <md-input-container class="md-block" flex-gt-sm>
        <md-button class="md-raised md-primary" ng-click="saveIpAddress(api)">SAVE</md-button>
        </md-input-container>
      
        </div>             
                            </vertical-tab-pane>	
							
							
							   </vertical-tabs >
				
				
				
                   
                </md-content>
           
</div>
