 <md-content class="md-padding">
			            
			            <md-content class="md-padding">
                  <div layout-gt-sm="row" ng-if="applications.length ==0">
                         
                   <md-autocomplete flex  flex
                            md-search-text="SearchRequiredRegion"
                            md-input-name="SearchRequiredRegion"
                            md-no-cache="false"
                            md-items="item in getRegionRequirements(SearchRequiredRegion)"
                            md-item-text="item.region_name"
                            md-selected-item-change="selectedRegion(item)"
                            md-floating-label="Search Regions with teachers requirement"
                            md-min-length="3" md-autofocus>
                   <md-item-template>
                   <span md-highlight-text="SearchRequiredRegion">{{item.region_name}}</span>
                   </md-item-template>
                   </md-autocomplete>                         
                   <md-input-container class="md-block" flex-gt-sm>
                   <label>Council</label>
                   <md-select ng-model="choice" ng-change="getSelectedCouncil(choice)" required>
                   <md-option value="">Please select Council</md-option>
                   <md-option ng-repeat="council in councilsWithRequirements" 
                   value="{{council.council_id}}">{{council.council_name}}</md-option>
                   </md-select>
                   </md-input-container>
                   <md-input-container class="md-block" flex-gt-sm>
                   <label>School</label>
           <md-select ng-model="selectedSchool" ng-change="getSelectedSchool(selectedSchool)" required>
                              <md-option value="">Please select School</md-option>
                  <md-option ng-repeat="school in schools"  value="{{school.centre_number}}">{{school.school_name}}</md-option>
                               </md-select>
                          </md-input-container>


						  <md-input-container>
                            
 <md-button class="md-raised md-primary pull-right" ng-click="addSelections(choice,selectedSchool)">ADD</md-button>

                          </md-input-container>
                        </div> 
						
						
					 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="selectionsDone.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>School Name</td> 
             <td>Teachers Required</td> 
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="selection in selectionsDone track by $index">
            <td>{{$index +1}}</td>
            <td>{{selection.region_name}}</td>
            <td>{{selection.council_name}}</td>
            <td>{{selection.school_name}}</td>
            <td>{{selection.required_teachers}}</td>
            
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="removeFromSelection(selection,selectionsDone)"
                                                                                            style="cursor: pointer;">Remove</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
					  <div layout-gt-sm="row">
                 	<md-button ng-if="selectionsDone.length >=1" class="md-raised md-primary pull-right" ng-click="saveSelections(selectionsDone)">SAVE</md-button>

						
                        </div> 
						
						
						 <div layout-gt-sm="row">
                 	
						
						<table class="table table-bordered table-stripped" width="100%" ng-if="applications.length >0">
                                           <tbody>
                      <tr>
                   <td>Choice # </td>
             <td>Region Name</td>  
             <td>Council Name</td>  
             <td>Time Applied</td>  
             <td>Action</td> </tr> 
			 
			<tr ng-repeat="application in applications track by $index">
            <td>{{$index +1}}</td>
            <td>{{application.region_name}}</td>
            <td>{{application.council_name}}</td>
            <td>{{application.updated_at}}</td>
                                               
    <td >
                                                                                    <span
                                                                                            ng-click="changeFromSelection(application,applications)"
                                                                                            style="cursor: pointer;">Change</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
	
						
                        </div> 
						
						
						
				   
				   
				   
                </md-content>
                
				 
