<style>
.md-dialog-content{
min-width:1000px;
}

</style>

<md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <div layout="row"  layout-align="space-between center">
    <h2 class="md-display-1">Welcome ,{{candidate.first_name| uppercase}}&nbsp;{{candidate.middle_name| uppercase}}&nbsp;{{candidate.last_name| uppercase}}({{candidate.registration_number}})</h2>

    <h3 class="md-title">,&nbsp;&nbsp;{{candidate.college_name}}</h3>

    </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">



                  <md-content class="md-padding">
                        <div layout-gt-sm="row">
                         
                                                    
                          <md-input-container class="md-block" flex-gt-sm>
     <label>Username</label>
    <input type="text" ng-value="{{username}}" ng-model="username" readonly>
                          </md-input-container> 
	<md-input-container class="md-block" flex-gt-sm>
    <label>Password</label>
    <input type="password" ng-model="login.password" required>
    </md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
    <label>Re-type Password</label>
    <input type="password" ng-model="login.retype_pwd" required>
    </md-input-container>
    </div>
			

 

 <md-button class="md-raised md-primary pull-right" ng-click="saveCredentials(login,candidate,username)">SAVE</md-button>
						
                    </md-content>
					
						
       
    
               


        </div>
    </md-dialog-content>

</md-dialog>




