<md-dialog  ng-controller="mortuaryController" class="fullscreen-dialog">
    <form autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
			
                <h3> CORPSE NAME: {{SelectedCorpse.corpse_name}} {{SelectedCorpse.inside_corpse_name}}
				
				({{SelectedCorpse.corpse_record_number}}) &nbsp; &nbsp;    &nbsp;   &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Gender: {{SelectedCorpse.gender}}
			  </h3>  <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/svg/close_x.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-content class="md-padding">

                       <div layout="row">
                                    <div flex="50">
                                       <form  name="searchForm">
                          <div layout-gt-sm="row">
                          
							  <p>IMMEDIATE CAUSE:{{SelectedCorpse.immediate_cause}}</p>
                                    
							  
                          </div>
						  <div layout-gt-sm="row">
                          
							          <p>UNDERLYING CAUSE : {{SelectedCorpse.	underlying_cause}}</p>
							 
							  
                          </div>
                      </form>
                                    </div>
								    <div flex="50" ng-if="cabinetsLists.length>0">
                                        <table class="full-width" >
                                            <thead>
                                            <tr>
                                                <th>Cabinet Name</th>
                                                <th>Capacity</th>
                                                <th>Stored Corpses</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="cabinet in cabinetsLists">
                                                <td>{{cabinet.cabinet_name}}</td>
                                                <td>{{cabinet.capacity}}</td>
                                                <td>{{cabinet.corpses_number}}</td>
                                                <td>
												
												<md-button ng-click="giveCabinetCorpse(cabinet,SelectedCorpse)" class="md-raised md-primary pull-right">Save</md-button>                                                                                        
                                                </td>
                                            </tr>&nbsp;
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
             

            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            
        </md-dialog-actions>
    </form>
</md-dialog>