          <div ng-controller="nursingCareController"  class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
          <div class="col-md-12 form-box">
          <form  role="form" class="registration-form" action=    "javascript:void(0);">
          <fieldset>
          <div class="form-top">
          <div class="form-top-left">
              <h3> CORPSE NAME: {{corpsePaticulars.first_name}} {{corpsePaticulars.middle_name}} {{corpsePaticulars.last_name}} ({{corpsePaticulars.corpse_record_number}})
			  <span class="pull-right">Gender: {{corpsePaticulars.gender}}</span>
			  </h3>

          </div>
          </div>
          <div class="form-bottom">
          <div class="row">
		  
		  
		         <div class="col-md-6">
                                    <div class="panel form-top-left">
                                        <div class="form-top">CABINETS AVAILABLE</div><br>
                                        <div class="">
                                            <form  >
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-lg">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-lg btn-success" type="submit">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
                                                
	<li ng-repeat="cabinets_available in cabinets_availables"
ng-click="giveCabinet(cabinets_available,corpsePaticulars)"
class="list-group-item form-top">	
	<span class="fa fa-bed fa-2x"></span>  {{cabinets_available.cabinet_name}}  Capacity: {{cabinets_available.capacity}}  Occupied: {{cabinets_available.occupied}}</li>
                                               
											   
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--   NURSING PLANING CARE-->

                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                            <uib-accordion>
                                            <div uib-accordion-group class="panel-primary" heading="NOTES ON CORPSE">
                                                <!--chief complaints and HPI starts-->
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <input type="text" ng-model="selectedcomplaint" class="form-control" placeholder="Search Chief Complaints" uib-typeahead="complaint as complaint.name for complaint in complaints($viewValue) |filter:$viewValue |limitTo:5">
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select ng-model="durationqty" class="form-control"><option value="">Duration</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            <select ng-model="durationunit" class="form-control"><option value="">Duration Unit</option><option value="Hours">Hours</option><option value="Days">Day(s)</option><option value="Weeks">Weeks</option><option value="Months">Months</option><option value="Years">Years</option></select>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            <button class="btn btn-primary pull-right" ng-click="addComplaint(selectedcomplaint,durationqty,durationunit)">Add</button>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-xs-6"><textarea  cols="30" class="form-control" placeholder="Write other Complaints"  rows="4"></textarea> </div>
                                                        <div class="col-xs-6"><textarea cols="30" class="form-control" placeholder="History of Presenting Illness" rows="4"></textarea></div>
                                                    </div>
                                                    <div class="row"><br>
                                                        <button class="btn btn-primary pull-right" ng-click="saveComplaints()">Save Complaints</button>
                                                    </div>
                                                </div>
                                                                                            
                                            </div>


                                                                  </div>







                                </div>
		  
		  
		  
		  
		  
		  
		  
		  
		  <!--END OF DATA -->


          </div>
          </fieldset>          
      </form>
              <button type="button" ng-click="cancel()" class="btn btn-next pull-right">
                  CANCEL
              </button>
    </div>

  </div>

</div>
<script type="text/javascript">

$(document).ready(function () {
        $('.registration-form fieldset:first-child').fadeIn('slow');

        $('.registration-form input[type="text"]').on('focus', function () {
            $(this).removeClass('input-error');
        });

        // next step
        $('.registration-form .btn-next').on('click', function () {
            var parent_fieldset = $(this).parents('fieldset');
            var next_step = true;

            parent_fieldset.find('input[type="text"],input[type="email"]').each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('input-error');
                    next_step = false;
                } else {
                    $(this).removeClass('input-error');
                }
            });

            if (next_step) {
                parent_fieldset.fadeOut(400, function () {
                    $(this).next().fadeIn();
                });
            }

        });

        // previous step
        $('.registration-form .btn-previous').on('click', function () {
            $(this).parents('fieldset').fadeOut(400, function () {
                $(this).prev().fadeIn();
            });
        });

        // submit
        $('.registration-form').on('submit', function (e) {

            $(this).find('input[type="text"],input[type="email"]').each(function () {
                if ($(this).val() == "") {
                    //e.preventDefault();
                    $(this).addClass('input-error');
                } else {
                    $(this).removeClass('input-error');
                }
            });

        });


    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    
</script>


  





