<style>
    dt {
        float: left;
        margin-right: 4%;
        max-width: 40%;
        font-weight: bold;
    }
    
    dd {
        margin-left: 20%;
        margin-bottom: .5em;
        color: teal;
        font-weight: 600;
        //border-bottom: 2px solid black;
    }
    
    dd::after {
        content: " ";
        display: block;
        clear: left;
    }
</style>
<md-dialog class="fullscreen-dialog"  ng-controller="mortuaryController">
    <form autocomplete="off" ng-cloak>
       

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-content class="md-padding">

<div style="min-height:1200px;">

    <div layout="column">
        <div layout="row" layout-align="space-between center">
            <div flex></div>
            <div flex>
                <center>
                    <span style="font-weight:600;">FOMU YA KUPOKEA NA KUTOA MAITI</span>
                </center>
                <center>
                    <img height="80" width="80" src="/img/arm.png" />
                </center>
            </div>
            <div flex>
            </div>
        </div>
    </div>
	<!--
<pre>{{SelectedCorpse}}</pre>  -->
    <div layout="column">
        <div flex="70" layout-gt-sm="row" layout-padding>
            <div flex-gt-sm>
                <dt>Jina la hospitali</dt>
                <dd>{{facility_address.facility_name}} {{facility_address.description}}</dd>
            </div>
            <div flex-gt-sm>
                <dt>Namba ya faili</dt>
                <dd>{{SelectedCorpse.corpse_record_number}}</dd>
            </div>
        </div>
    </div>

    <h3 class="md-headline">TAARIFA ZA MAREHEMU</h3>

    <div layout="column">
        <div layout-gt-sm="row" layout-padding>
            <div flex-gt-sm>
                <dt>Jina la marehemu</dt>
                <dd>{{SelectedCorpse.corpse_name}}</dd>
            </div>
            <div flex-gt-sm>
                <dt>Jinsia</dt>
                <dd>{{SelectedCorpse.gender}}</dd>
            </div>
            <div flex-gt-sm>
                <dt>Umri</dt>
                <dd>{{SelectedCorpse.dob}}</dd>
            </div>
            <div flex-gt-sm>
                <dt>Dini</dt>
                <dd>{{SelectedCorpse.religion}}</dd>
            </div>
        </div>

        <div flex="70" layout-gt-sm="row" layout-padding>
            <div flex-gt-sm>
                <dt>Mahali anapoishi</dt>
                <dd>Tegeta</dd>
            </div>
            <div flex-gt-sm>
                <dt>Namba ya nyumba<dt>
            <dd></dd>
        </div>
        <div  flex-gt-sm>
            <dt>Uraia<dt>
            <dd>Mtanzania</dd>
        </div>
    </div>
    <div layout-gt-sm="row" layout-padding>
        <div  flex-gt-sm>
            <dt>Namba ya kitambulisho</dt>
                <dd>2373</dd>
            </div>
            <div flex-gt-sm>
                <dt>Tarehe ya kifo<dt>
            <dd>{{SelectedCorpse.dod}}</dd>
        </div>
        <div  flex-gt-sm>
            <dt>Muda alipofariki<dt>
            <dd>11:23</dd>
        </div>
    </div>
	<div layout-gt-sm="row" layout-padding>
        <div  flex-gt-sm>
            <dt>Mahali alipofia</dt>
                <dd>Mabibo</dd>
            </div>
            <div flex-gt-sm>
                <dt>Mazingira ya kifo<dt>
            <dd>Kauwawa</dd>
        </div>
    </div>

	<div layout-gt-sm="row" layout-padding>
        <div  flex-gt-sm>
            <dt>Hali ya mwili</dt>
                <dd>Kapigwa risasi kibao</dd>
            </div>
            <div flex-gt-sm>
                <dt>Jina la daktari aliyethibitisha kifo<dt>
            <dd>{{SelectedCorpse.doctor_confirmed}}</dd>
        </div>
    </div>


	<div layout-gt-sm="row" layout-padding>
        <div  flex-gt-sm>
            <dt>Jina la hospitali inapotoka maiti</dt>
                <dd>Kinondoni Hospital</dd>
            </div>
            <div flex-gt-sm>
                <dt>Barua ya serikali ya mtaa<dt>
            <dd>Ndio</dd>
        </div>
    </div>

  <h3 class="md-headline">TAARIFA ZA ALIYELETA MAITI</h3> 

    <div layout="column" class="layout-column">
        <div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Jina </dt>
                <dd>Joshua Surname</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Anapoishi</dt>
                <dd>Mbagala</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Saini</dt>
                <dd>asdhgaswqjeh</dd>
            </div>
        </div>
        <div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Uhusiano na marehemu</dt>
                <dd>Muuaji wake</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Namba ya simu ya mkononi</dt>
                <dd>0712430978</dd>
            </div>
        </div>
        <div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Sababu ya kuweka maiti</dt>
                <dd>Uchunguzi</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Namba ya gari iliyoleta maiti</dt>
                <dd>T 456 E</dd>
            </div>
        </div>
    </div>




  <h3 class="md-headline">MALI ZA MAREHEMU</h3> 

    <div layout="column" class="layout-column">
        <div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Vitu vilivyokutwa navyo marehemu</dt>
                <dd>Simu moja ya tecno na pakti ya sigara</dd>
            </div>
        </div>
        <div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Aliyekabidhiwa</dt>
                <dd>Andrew Surname</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Saini</dt>
                <dd>hasdg</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Tarehe</dt>
                <dd>11/12/2007</dd>
            </div>
        </div>
    </div>


  <h3 class="md-headline">TAARIFA ZA ALIYECHUKUA MAITI</h3> 

    <div layout="column" class="layout-column">
        <div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Jina</dt>
                <dd>Nicholas Surname</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Anapoishi</dt>
                <dd>Manzese</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Saini</dt>
                <dd>asdsd</dd>
            </div>
        </div>
        <div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Uhusiano na marehemu</dt>
                <dd>Kaka</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Namba ya simu mkononi</dt>
                <dd>0745239844</dd>
            </div>
        </div>
        <div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Namba ya kitambulisho</dt>
                <dd>232323</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Jina la mwenyekiti wa Mtaa</dt>
                <dd>Abdul-lateef bin Surname</dd>
            </div>
        </div>

		<div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Inapokwenda kuzikwa</dt>
                <dd>Temeke</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Kibali cha kuzikwa</dt>
                <dd>Sijui</dd>
            </div>
        </div>

		<div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Jina la mtoaji</dt>
                <dd>Temeke</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Namba ya gari inayochukua maiti</dt>
                <dd>T 233 E</dd>
            </div>
        </div>


		<div layout-gt-sm="row" layout-padding="" class="layout-padding layout-gt-sm-row">
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Tarehe ya kutoa</dt>
                <dd>23/09/2013</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Muda wa kutoa</dt>
                <dd>18/12/2017</dd>
            </div>
            <div flex-gt-sm="" class="flex-gt-sm">
                <dt>Saini ya mtoaji</dt>
                <dd>asdgd</dd>
            </div>
        </div>
    </div>









</div>
                       
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
             

            <span flex></span>
           
			<md-button class="md-raised md-primary pull-right" ng-click="confirmDischarge(SelectedPatient)">
                Request Discharge
            </md-button> 
			<md-button ng-click="cancel()">
                Cancel
            </md-button>
            
        </md-dialog-actions>
    </form>
</md-dialog>