<md-dialog  class="fullscreen-dialog">
    <form autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
			
                <h3> CORPSE NAME: {{SelectedPatient.corpse_name}}({{SelectedPatient.corpse_record_number}}) &nbsp; &nbsp;   &nbsp;   &nbsp;     &nbsp; &nbsp; &nbsp;&nbsp;     
			  </h3>  <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/svg/close_x.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-content class="md-padding">

                       <div layout="row">
                                    <div flex="50">
                                       <form  name="searchForm">
                          <div layout-gt-sm="row">
                          
							  
							   <md-input-container flex-gt-sm>
                           <md-select ng-model="services"   placeholder="SERVICES" class="md-no-underline">
          <md-option ng-click="getSelectedService(corpseService)" ng-repeat="corpseService in corpseServices"   ng-value="corpseService">{{corpseService.item_name}}</md-option>
          </md-select>
                          </md-input-container>  



						  <md-input-container flex-gt-sm>
                            <label>quantity</label>
                            <input type="number" min=1 ng-model="quantity" required>
                          </md-input-container> 
						  
						  
						  
						  <md-input-container flex-gt-sm>
                           <md-button ng-click="addCorpseServicez(quantity,SelectedPatient)" class="md-raised md-primary pull-right">ADD</md-button>
                          </md-input-container>
							  
                          </div>
                      </form>
					  
					  <table class="table table-bordered table-striped" ng-if="corpseServicez.length>0">
                        <thead>
                        <tr>
                            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
                                <span>No.</span>
                            </th>
                            <th class="st-sort-disable th-dropdown">
                             SERVICE NAME 
                            </th>
                            <th sortable="placed" class="sortable">
                                <span>QUANTITY</span>
                            </th>
							<th sortable="placed" class="sortable">
                                <span>ACTION</span>
                            </th>

                             
                         
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat="corpseService in corpseServicez track by $index"  >
                            <td class="mdl-data-table__cell--non-numeric">
                               {{$index+1}}
                            </td>
                            <td >{{corpseService.item_name}}  </td>
							<td >  {{corpseService.quantity}}</td>
							  <td>
                     <md-button  class="md-raised md-warning"   ng-click="removeSelectedService(corpseService,corpseServicez)" class="md-warning">
								Remove
								</md-button>
								</td>
                               </tr>
							   
						 <tr>
                            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric" colspan="4">
                                <md-button  class="md-raised md-primary"   ng-click="saveItemServiced(corpseServicez)" class="md-primary">
								SAVE
								</md-button> 
                            </th>
                                 
                         
                        </tr>	   
							   
							   
							   
                        </tbody>
                    </table>
					  
                                    </div>
                                    <div flex="50" >
                                       <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
                                <span>No.</span>
                            </th>
                            <th class="st-sort-disable th-dropdown">
                             SERVICE NAME 
                            </th>
                            <th sortable="placed" class="sortable">
                                <span>ORDERED BY</span>
                            </th>

                              <th sortable="placed" class="sortable">
                                <span>PAYMENT STATUS</span>
                            </th>

                             
							<th sortable='total.value' class="sortable">
                                <span>TIME REQUESTED</span>
                            </th>
                         
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat="getService in getServices track by $index"  >
                            <td class="mdl-data-table__cell--non-numeric">
                               {{$index+1}}
                            </td>
                            <td >{{getService.item_name}}  </td>
							<td >  {{getService.requested_by}}</td>
							<td >  {{getService.payment_status}}</td>
                            <td>{{getService.requested_on}}</td>
                              

                               </tr>
                        </tbody>
                    </table>
                                      
                                    </div>
                                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
             

            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            
        </md-dialog-actions>
    </form>
</md-dialog>