<div ng-cloak="">
    <md-content>

        <v-accordion class="vAccordion--default">
            <v-pane ng-repeat="ref in referrals">
                <v-pane-header  ng-click="getReferrals(ref)" >
                    {{ref.sender_facility}}
                </v-pane-header>

                <v-pane-content>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="100%" ng-if="patients.length>0">
                        <thead>
                        <th >First Name</th>
                        <th  class="mdl-data-table__cell--non-numeric">Middle Name</th>
                        <th  class="mdl-data-table__cell--non-numeric">Last Name</th>
                        <th  class="mdl-data-table__cell--non-numeric">Gender</th>
                        <th  class="mdl-data-table__cell--non-numeric">Date of Birth</th>
                        <th  class="mdl-data-table__cell--non-numeric">Medical Record Number</th>
                        <th  class="mdl-data-table__cell--non-numeric">Summary</th>
                        <th  class="mdl-data-table__cell--non-numeric">Doctor's Name</th>
                        <th  class="mdl-data-table__cell--non-numeric">Contacts</th>
                        <th  class="mdl-data-table__cell--non-numeric">Action</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pt in patients">
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.first_name}}</td>
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.middle_name}}</td>
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.last_name}}</td>
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.gender}}</td>
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.dob}}</td>
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.medical_record_number}}</td>
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.summary}}</td>
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.doctor_name}}</td>
                            <td  class="mdl-data-table__cell--non-numeric">{{pt.doctor_number}}</td>
                            <td  class="mdl-data-table__cell--non-numeric"><md-button class="md-raised md-primary" ng-click="acceptReferral(pt)">Accept</md-button></td>
                        </tr>
                        </tbody>
                    </table>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </md-content>
</div>
