<style>
    .app-modal-window {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        height: 90px;
    }

    .std {
        padding: 20px;
    }

    @media print {
        .no-print {
            display: none;
        }
    }
</style>
<md-dialog  ng-controller="labController">
    <form name="projectForm" autocomplete="off" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>CHANGE MACHINE  FOR {{item_name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/svg/close_x.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-content class="md-padding">
                    <div layout="row">
                        <div id="divtoprint" class="app-modal-window">
                            <div class="row" style="float:left;">
						<md-input-container >
                                    <label>Equipment</label>
                                     <md-select ng-model="test.equipment_id" ng-click="getEquipementList()">
                                     <md-option  ng-repeat="equipementList in equipementLists"    ng-value="equipementList.id"> {{equipementList.equipment_name}} </md-option>
                                    </md-select>

                                </md-input-container>
                            </div>
                        </div>
                    </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button  class="md-raised md-primary"    ng-click="saveEquipChanges(test.equipment_id)" class="md-primary">
                Apply
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

