<form autocomplete="off">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Collect Sample" ng-click="setTabSamples(1)">

                    <md-content class="md-padding">

                        <!-- <h3 class="md-display-1">Search re-attended
                            patients</h3> -->
                        <!-- register patient  -->
                        <md-input-container class="md-block">
                            <input type="text" placeholder="Search Patient for Sample Collection" name="search"
                                   uib-typeahead="patient as patient.fullname+', '+patient.mobile_number+' ,'+patient.medical_record_number for patient in getPatients($viewValue) |filter:$viewValue |limitTo:5"
                                   ng-model="selectedPatient" typeahead-on-select="openDialogForServices(selectedPatient,ev)">
                        </md-input-container>


                        <div  role="form">
                            <md-chips>
                                <md-chip ng-repeat="LabTestRequest in LabTestRequests" style="cursor:pointer;" ng-click="getTestRequestAll(LabTestRequest)">
                                    <strong>{{LabTestRequest.first_name}} {{LabTestRequest.middle_name}} {{LabTestRequest.last_name}}->						
									{{LabTestRequest.item_name}}</strong>
                                    <em>({{LabTestRequest.medical_record_number}})</em>
                                </md-chip>
                            </md-chips>

</form>
</div>
<!-- end register patient -->
</md-content>

</md-tab>
<md-tab label="Rejected Sample" ng-click="setTabRejectSample(2)">
    <md-content class="md-padding">
               <md-input-container class="md-block">
            <input type="text" placeholder="Search for any Re-attended Patients" uib-typeahead="patient as patient.fullname+', '+patient.membership_number+', '+patient.mobile_number+' ,'+patient.medical_record_number for patient in getInsuarancePatients($viewValue) |filter:$viewValue |limitTo:5"
                   ng-model="selectedPatient" typeahead-on-select="verification(selectedPatient.membership_number)">
        </md-input-container>

        <div layout="row">
            <md-chips>
                <md-chip ng-repeat="cancelledSample in cancelledSamples"  style="cursor:pointer;" ng-click="reCollectTestRequests(cancelledSample)">
                    <strong>{{cancelledSample.first_name}} {{cancelledSample.middle_name}} {{cancelledSample.last_name}} ({{cancelledSample.sample_no}})</strong>

                </md-chip>
            </md-chips>

        </div>



    </md-content>
</md-tab>
<md-tab label="Collected Sample" ng-click="setTabCollected(3)">
    <md-content class="md-padding">
        <md-input-container class="md-block">
            <input type="text" placeholder="Search for any Re-attended Patients" uib-typeahead="patient as patient.fullname+', '+patient.membership_number+', '+patient.mobile_number+' ,'+patient.medical_record_number for patient in getInsuarancePatients($viewValue) |filter:$viewValue |limitTo:5"
                   ng-model="selectedPatient" typeahead-on-select="verification(selectedPatient.membership_number)">
        </md-input-container>

        <div layout="row">
            <md-chips>
                <md-chip ng-repeat="collectedSample in collectedSamples"  style="cursor:pointer;">
                    <strong>{{collectedSample.first_name}} {{collectedSample.middle_name}} {{collectedSample.last_name}} ({{collectedSample.sample_no}}) </strong>

                </md-chip>
            </md-chips>

        </div>



    </md-content>
</md-tab>


 <md-tab label="REQUEST FORM" ng-click="getCollectedSample()">

                    <md-content class="md-padding">

                        <!-- <h3 class="md-display-1">Search re-attended
                            patients</h3> -->
                        <!-- register patient  -->
                        <md-input-container class="md-block">
                            <input type="text" placeholder="Search Patient for Sample Collection" name="search"
                                   uib-typeahead="patient as patient.fullname+', '+patient.mobile_number+' ,'+patient.medical_record_number for patient in getPatients($viewValue) |filter:$viewValue |limitTo:5"
                                   ng-model="selectedPatient" typeahead-on-select="openDialogForServices(selectedPatient,ev)">
                        </md-input-container>


                        <div  role="form">
                            <md-chips>
                                <md-chip ng-repeat="collectedSample in collectedSamples" style="cursor:pointer;" ng-click="previewRequest(collectedSample)">
                                    <strong>{{collectedSample.first_name}} {{collectedSample.middle_name}} {{collectedSample.last_name}}</strong>
                                    <em>({{collectedSample.medical_record_number}})</em>
                                </md-chip>
                            </md-chips>

</form>
</div>
<!-- end register patient -->
</md-content>

</md-tab>



</md-tabs>
</md-content>
</div>
