<form autocomplete="off">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Sample Testing" ng-click="setTabSamplesProcessor(1)">

                    <md-content class="md-padding">
                        <!-- <h3 class="md-display-1">Search re-attended
                            patients</h3> -->
                        <!-- register patient  -->
                        <md-input-container class="md-block">
                            <input type="text" placeholder="Place Cursor to scan barcode sample number for testing" name="search"
                                   uib-typeahead="patient as patient.fullname+', '+patient.mobile_number+' ,'+patient.medical_record_number for patient in getPatients($viewValue) |filter:$viewValue |limitTo:5"
                                   ng-model="selectedPatient" typeahead-on-select="openDialogForServices(selectedPatient,ev)">
                        </md-input-container>


                        <div  role="form">
                            <div class="panel-body" ng-if="labDepartmentCollectedSamples.length == 0">
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="fa fa-warning fa-pause fa-3x" style="color: red"></span><b> No any pending sample to test posted right now </b> </li>

                                </ul>
                            </div>


                            <md-content class="md-padding" style="padding:2em;" ng-if="labDepartmentCollectedSamples.length>0">
                                <div layout="row">
                                    <div flex="20">
                                        <md-list style="color:white;font-weight:700">
                                            <md-list-item style="padding:0;background-color:teal;margin:2px;cursor: pointer;" ng-click="getLabCollectedSample(labDepartmentCollectedSample.sub_department_id)" class="md-1-line" ng-repeat="labDepartmentCollectedSample in labDepartmentCollectedSamples">
                                                {{labDepartmentCollectedSample.sub_department_name}}
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <div flex="80">
                                        <md-card>

                                            <md-card-content>
                                                <md-chips>
                                                    <md-chip ng-repeat="getLabCollectedSample in getLabCollectedSamples" ng-click="getSamplesToTest(getLabCollectedSample)"  style="cursor:pointer;">
                                                        <strong>{{getLabCollectedSample.first_name}} {{getLabCollectedSample.middle_name}} {{getLabCollectedSample.last_name}} ({{getLabCollectedSample.sample_no}}):{{getLabCollectedSample.item_name}}</strong>

                                                    </md-chip>
                                                </md-chips>

                                            </md-card-content>
                                        </md-card>

                                    </div>
                                </div>
                            </md-content>








</form>
</div>
<!-- end register patient -->
</md-content>

</md-tab>
<md-tab label="Results Approve" ng-click="showResultsToVerify()">

       <md-input-container class="md-block">
                            <input type="text" placeholder="Place Cursor to scan barcode sample number for test approve" name="search"
                                   uib-typeahead="patient as patient.fullname+', '+patient.mobile_number+' ,'+patient.medical_record_number for patient in getPatients($viewValue) |filter:$viewValue |limitTo:5"
                                   ng-model="selectedPatient" typeahead-on-select="openDialogForServices(selectedPatient,ev)">
                        </md-input-container>

     <md-content class="md-padding" style="padding:2em;">
                                <div layout="row">                                   
                                    <div flex="100">                                       

<md-list style="color:white;font-weight:700" ng-if="verifyLabResults.length ==0">
                                            <md-list-item style="padding:0;background-color:teal;margin:2px;cursor: pointer;"  class="md-1-line">
                                                No lab results to Approve right now
                                            </md-list-item>
                                        </md-list>

                                              <md-chips>
                                                  <!--single tests  -->
                                                    <md-chip ng-repeat="singleTest in  singleTests" ng-click="validateLabResultsPerRequest(singleTest)"  style="cursor:pointer;">
                                                        <strong>{{singleTest.full_name}}-{{singleTest.item_name+' ('+singleTest.sample_no+')'}}</strong>

                                                    </md-chip>
                                                     <!--panel tests  -->
                                                    <md-chip ng-repeat="PanelsTest in  PanelsTests" ng-click="validateLabResultsPerRequest(PanelsTest.order_id)"  style="cursor:pointer;">
                                                        <strong>{{PanelsTest.full_name}}-{{PanelsTest.item_name+' ('+PanelsTest.sample_no+')'}}</strong>

                                                    </md-chip>



                                                </md-chips>

                                        

                                    </div>
                                </div>
                            </md-content>
</md-tab>

<md-tab label="Reports">
    <md-content class="md-padding">
  
 <!--vertical tabs start-->
        <vertical-tabs >
            <vertical-tab-pane title="Your Perfomances">
                <div layout="row">
                    <md-input-container >
                        <label>Choose Start Date</label>
                        <input ng-model="pef.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                    </md-input-container>
                    <md-input-container >
                        <label>Choose End Date</label>
                        <input ng-model="pef.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                    </md-input-container>
                    <md-input-container >
                        <md-button class="md-raised md-primary" ng-click="getPermanceAtLabForSpecificStaff(pef)">Search</md-button>
                    </md-input-container>
                </div>

                <div layout="row">

<div flex="85" >

                        <table class="table table-bordered table-striped" ng-if="staffPerformances.length > 0">
                            <thead>
                            <tr>
                                
                                <th >S/No</th>
                                <th >Staff Name</th>
                               
                                <th >Number of Tests Perfomed</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="staffPerformance in staffPerformances track by $index"  >
                                <td class="mdl-data-table__cell--non-numeric">
                                  {{ $index+ 1}}
                                </td>
                                <td >{{staffPerformance.posted_by}}</td>
                                <td >{{staffPerformance.test_number}}</td>
                               

                            </tr>
                            </tbody>
                        </table>

                    </div>
                   

                </div>

            </vertical-tab-pane>
 <vertical-tab-pane title="Sample Status">
                <div layout="row">
                    <md-input-container >
                        <label>Choose Start Date</label>
                        <input ng-model="pef.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                    </md-input-container>
                    <md-input-container >
                        <label>Choose End Date</label>
                        <input ng-model="pef.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                    </md-input-container>
                    <md-input-container >
                        <md-button class="md-raised md-primary" ng-click="getSampleStatus(pef)">Search</md-button>
                    </md-input-container>
                </div>

                <div layout="row" ng-click="getStaffPerfomance(pef)">

                    <div flex="85" >

                        <table class="table table-bordered table-striped" ng-if="sampleStatuses.length > 0">
                            <thead>
                            <tr>
                                
                                <th >S/No</th>
                                <th >Sample #</th>
                                <th >Sample Types</th>
                                <th >Sample Section</th>
                                <th >Test Name</th>
                                <th >Medical Record Number</th>
                                <th >Sample Status</th>
                                <th >Requested Time</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="sampleStatus in sampleStatuses track by $index"  >
                                <td class="mdl-data-table__cell--non-numeric">
                                  {{ $index+ 1}}
                                </td>
                                <td >{{sampleStatus.sample_no}}</td>
                                <td >{{sampleStatus.sample_types}}</td>
                                <td >{{sampleStatus.sub_department_name}}</td>
                                <td >{{sampleStatus.item_name}}</td>
                                <td >{{sampleStatus.medical_record_number}}</td>
                                <td >
								
							{{sampleStatus.sample_status}}
								
								</td>
								<td >{{sampleStatus.created_at}}</td>

                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </vertical-tab-pane>
			
			<vertical-tab-pane title="Preview Results">
                <div layout="row">
                    <md-input-container >
                        <label>Choose Start Date</label>
                        <input ng-model="pef.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                    </md-input-container>
                    <md-input-container >
                        <label>Choose End Date</label>
                        <input ng-model="pef.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                    </md-input-container>
                    <md-input-container >
                        <md-button class="md-raised md-primary" ng-click="rePrintResults(pef)">Search</md-button>
                    </md-input-container>
                </div>

                <div layout="row" ng-click="rePrintResults(pef)">

                    <div flex="85" >

                        <table class="table table-bordered table-striped" ng-if="printResults.length > 0">
                            <thead>
                            <tr>
                                
                                <th >S/No</th>
                                <th >Sample #</th>
                                <th >Test Results</th>
                                <th >Test Name</th>
                                <th >Medical Record Number</th>
                                <th >Time</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="printResult in printResults track by $index"  >
                                <td class="mdl-data-table__cell--non-numeric">
                                  {{ $index+ 1}}
                                </td>
                                <td >{{printResult.sample_no}}</td>
                                <td >{{printResult.description}}</td>
                                <td >{{printResult.item_name}}</td>
                                <td >{{printResult.medical_record_number}}</td>
                                <td >{{printResult.created_at}}</td>

                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </vertical-tab-pane>



        </vertical-tabs>
        <!--vertical tabs end-->
  
</md-content>
</md-tab>
</md-tabs>
</md-content>
</div>
