
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="nursingCareController">
    <div class="row">
        <div class="col-md-12 form-box">
            <form  role="form" class="clinical-form" action="javascript:void(0);">
                <fieldset>
                    <div class="form-top">
                        <div class="form-top-left">
                            <h4>
				<span ng-if="!selectedPatient.fullname">NURSING CARE DASHBOARD</span> 
							
			<span ng-if="selectedPatient.fullname">NAME:  {{selectedPatient.fullname}} MRN: {{selectedPatient.medical_record_number}} Admission DAY: {{selectedPatient.updated_at}}</span>  </h4>

                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="row hidden-print">
          <ul class="nav nav-tabs nav-justified" >
          <li ng-class="{active: isSet(1) }"><a href ng-click="setTabAdmission(1)"><span >Admission</span></a></li>
          <li ng-class="{active: isSet(2) }"><a href ng-click="setTabObservation(2)">Observation Chart</a></li>
          <li ng-class="{active: isSet(3) }"><a href ng-click="setTabNursingCare(3)">Nursing Care Plans</a></li>
          <li ng-class="{active: isSet(4) }"><a href ng-click="setTabTreatment(4)">Treatments</a></li>
          <li ng-class="{active: isSet(5) }"><a href ng-click="setTabDischarge(5)">Discharge</a></li>
          </ul>
          <br>
          <br>
                            </div>
                        <div class="row">

                            <div ng-show="isSet(4)">

                                <div class="col-md-6">
                                    <div class="panel form-top-left">
                                        <div class="form-top">PATIENTS ADMITTED :</div><br>
                                        <div class="">
                                            <form  >
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-lg">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-lg btn-success" type="submit">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
 <li ng-repeat="admitted in admitted" ng-click="getAdmPatient(admitted)" class="list-group-item form-top"><b>{{admitted.fullname}}, {{admitted.medical_record_number}},
			 
			 TIME: {{admitted.updated_at}}</b>
 </li>	
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--   NURSING PLANING CARE-->

                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="form-top">PATIENT TREATMENT</div><br>





                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-primary" heading="TYPE OF DRUGS AND DOSE" ng-click="getDrugs()">
                                           <div class="row">
                                                            <div class="row">
															  <div class="col-xs-4">
									
   <select  ng-model="drugs.types" class="form-control"><option value="">DRUGS</option>
																															
				<option ng-repeat="getDrug in getDrugs" ng-value="getDrug.item_id">{{getDrug.item_name}}</option></select>
                                                                </div>
																
                                                                                                                  <div class="col-xs-3">
                                                        
<textarea class="form-control" placeholder="HOW OFTEN" ng-model="drugs.drugs_given"> </textarea>
                                                    </div>
												                                                                                                                           
                                                                <div class="col-xs-2">
   <button class="btn btn-primary pull-right" ng-click="addDrugs(drugs,selectedPatient)">SAVE</button>
                                                                </div>
                                                            
															
															
															</div>                               
                                                        </div>
                                              
                                            </div>
                                          

                                                                  </div>







                                </div>


                        </div>


                            <div ng-show="isSet(3)">

                                <div class="col-md-6">
                                    <div class="panel form-top-left">
                                        <div class="form-top">PATIENTS ADMITTED :</div><br>
                                        <div class="">
                                            <form  >
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-lg">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-lg btn-success" type="submit">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
                                                 <li ng-repeat="admitted in admitted" ng-click=  
  "getAdmPatient(admitted)" 
class="list-group-item form-top"><b>{{admitted.fullname}}, {{admitted.medical_record_number}},
			 
			 TIME: {{admitted.updated_at}}</b>
 </li>	
                                            </ul>
                                        </div>
                                    </div>
                                </div>
<!--   NURSING PLANING CARE-->

                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="form-top">NURSING CARE PLANS</div><br>





                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-primary" heading="PATIENT'S GOALS"ng-click="getDiagnosis()" >
<div class="row">
                                                            <div class="row">
															  <div class="col-xs-4">
									
           <select  ng-model="goals.types" class="form-control"><option value="">DIAGNOSIS</option>
																															
				<option ng-repeat="getDiagnosis in getDiagnosises" ng-value="getDiagnosis.id">{{getDiagnosis.diagnosis_name}}</option></select>
                                                                </div>
																
                                                                                                                  <div class="col-xs-3">
                                                        
                                                        <textarea class="form-control" placeholder="Patients Goals" ng-model="goals.patient_goals"> </textarea>
                                                    </div>
												                                                                                                                           
                                                                <div class="col-xs-2">
   <button class="btn btn-primary pull-right" ng-click="addGoals(goals,selectedPatient)">SAVE</button>
                                                                </div>
                                                            
															
															
															</div>                               
                                                        </div>
                                               
                                            </div>
                                            <div uib-accordion-group class="panel-primary" heading="IMPLEMENTATIONS" ng-click="getDiagnosis()">
                                           
                                             <div class="row">
                                                            <div class="row">
															  <div class="col-xs-4">
									
           <select  ng-model="implementations.getDiagnos" class="form-control"><option value="">DIAGNOSIS</option>
																															
				<option ng-repeat="getDiagnosis in getDiagnosises" ng-value="getDiagnosis.id">{{getDiagnosis.diagnosis_name}}</option></select>
                                                                </div>
																
                                                                                                                  <div class="col-xs-3">
                                                        
                                                        <textarea class="form-control" placeholder="Actions" ng-model="implementations.implementation"> </textarea>
                                                    </div>
												                                                                                                                           
                                                                <div class="col-xs-2">
   <button class="btn btn-primary pull-right" ng-click="addImplementation(implementations,selectedPatient)">SAVE</button>
                                                                </div>
                                                            
															
															
															</div>                               
                                                        </div>
											 
											 
                                            </div>
                                            <div uib-accordion-group class="panel-primary" heading="EVALUATION" ng-click="getDiagnosis()">
                                               <div class="row">
                                                            <div class="row">
															  <div class="col-xs-4">
									
           <select  ng-model="evaluations.getDiagnos" class="form-control"><option value="">DIAGNOSIS</option>
																															
				<option ng-repeat="getDiagnosis in getDiagnosises" ng-value="getDiagnosis.id">{{getDiagnosis.diagnosis_name}}</option></select>
                                                                </div>
																
                                                                                                                  <div class="col-xs-3">
                                                        
                                                        <textarea class="form-control" placeholder="EVALUATIONS" ng-model="evaluations.evaluation"> </textarea>
                                                    </div>
												                                                                                                                           
                                                                <div class="col-xs-2">
   <button class="btn btn-primary pull-right" ng-click="addEvaluations(evaluations,selectedPatient)">SAVE</button>
                                                                </div>
                                                            
															
															
															</div>                               
                                                        </div>
                                            </div>
<div uib-accordion-group class="panel-primary" ng-click="getDiagnosis() "heading="TIME">
                            
                                                                                         <div class="row">
                                                            <div class="row">
															  <div class="col-xs-4">
									
           <select  ng-model="times.getDiagnos" class="form-control"><option value="">DIAGNOSIS</option>
																															
				<option ng-repeat="getDiagnosis in getDiagnosises" ng-value="getDiagnosis.id">{{getDiagnosis.diagnosis_name}}</option></select>
                                                                </div>
																
                                                                                                                  <div class="col-xs-2">
                                                        
      <select  ng-model="times.time" class="form-control">
	  <option value="">TIME</option>							
	  <option>06:00</option>
	  <option>07:00</option>
	  <option>08:00</option>
	  <option>09:00</option>
	  <option>10:00</option>
	  <option>11:00</option>
	  <option>12:00</option>
	  
	  </select></div>
	  <div class="col-xs-2">
	   <select  ng-model="times.time_day" class="form-control">
	  <option value="">TIME</option>							
	  <option  >AM</option>
	  <option >PM</option>
	 
	  
	  </select>
	  
														
                                                    </div>
												                                                                                                                           
                                                                <div class="col-xs-2">
<button class="btn btn-primary pull-right" ng-click="addTimes(times,selectedPatient)">SAVE</button>
                                                                </div>
                                                            
															
															
															</div>                               
                                                        </div>







                                            </div>









                                    </div>







                                </div>


                            </div>

                            <div ng-show="isSet(5)">

                                <div class="col-md-6">
                                    <div class="panel form-top-left">
                                        <div class="form-top">ADMITTED PATIENTS</div><br>
                                        <div class="">
                                            <form  >
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-lg">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-lg btn-success" type="submit">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
                                                <li ng-repeat="admitted in admitted" ng-click="patientDischarge(admitted)" class="list-group-item form-top"><b>{{admitted.fullname}}, {{admitted.medical_record_number}},
			 
			 TIME: {{admitted.updated_at}}</b>
 </li>	
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="form-top">DISCHARGED</div><br>

                                        <div class="">
                                            <form  >
                                                <div class="input-group">

                                                    <input type="text" class="form-control input-lg">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-lg btn-success" type="submit">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                        <div class="panel-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Cras justo odio</li>
                                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                                <li class="list-group-item">Morbi leo risus</li>
                                                <li class="list-group-item">Porta ac consectetur ac</li>
                                                <li class="list-group-item">Vestibulum at eros</li>
                                            </ul>
                                        </div>
                                    </div>





                                </div>


                            </div>
                            <div ng-show="isSet(1)">


                                <div class="col-md-6">
                                    <div class="panel form-top-left">
                                        <div class="form-top">PENDING ADMISSION</div><br>
                                        <div class="">
                                            <form  >
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-lg">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-lg btn-success" type="submit">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
  <li ng-repeat="admin in admin" ng-click=
  
  "getAdmission(admin.patient_id,admin.ward_id,admin.admission_id)" 
class="list-group-item form-top"><b>{{admin.fullname}}, {{admin.medical_record_number}},
			 
			 TIME: {{admin.admission_date}}</b>
 </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="form-top">ADMITTED PATIENTS</div><br>

                                        <div class="">
                                            <form  >
                                                <div class="input-group">

                                                    <input type="text" class="form-control input-lg">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-lg btn-success" type="submit">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                        <div class="panel-body">
                                            <ul class="list-group">
                                <li ng-repeat="admitted in admitted" ng-click=  
  "getAdmission(admitted.patient_id,admitted.ward_id,admitted.admission_id)" 
class="list-group-item form-top"><b>{{admitted.fullname}}, {{admitted.medical_record_number}},
			 
			 TIME: {{admitted.updated_at}}</b>
 </li>				</ul>
                                        </div>
                                    </div>





                                </div>




                            </div>

                            <div ng-show="isSet(2)">

                                <div class="col-md-6">
                                    <div class="panel form-top-left">
                                        <div class="form-top">PATIENT ADMITTED :</div><br>
                                        <div class="">
                                            <form  >
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-lg">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-lg btn-success" type="submit">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
                                                                     <li ng-repeat="admitted in admitted" ng-click=  
  "getAdmPatient(admitted)" 
class="list-group-item form-top"><b>{{admitted.fullname}}, {{admitted.medical_record_number}},
			 
			 TIME: {{admitted.updated_at}}</b>
 </li>	
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="form-top">OBSERVATION CHAT AND FLUID BALANCE</div><br>





                                                <uib-accordion>
                                                    <div uib-accordion-group class="panel-primary" heading="VITAL SIGNS" ng-click="getVital()"  >
                                                        <!--chief complaints and HPI starts-->
                                                        <div class="row">
                                                            <div class="row">
															  <div class="col-xs-4">
									
           <select  ng-model="vitals.types" class="form-control"><option value="">VITAL TYPE</option>
																															
				<option ng-repeat="getVital in getVitals" ng-value="getVital.id">{{getVital.observation_key_word}}</option></select>
                                                                </div>
                                                                <div class="col-xs-2">
                  <input type="text" ng-model="vitals.amount" class="form-control" >
                                                                </div>
                                                                                                                           
                                                                <div class="col-xs-2">
   <button class="btn btn-primary pull-right" ng-click="addVitals(vitals,selectedPatient)">SAVE</button>
                                                                </div>
                                                            
															
															
															</div>                                                                                 
                                                        </div>
                                                      
                                                    </div>
													
  <div uib-accordion-group class="panel-primary" heading="FLUID INTAKE"  
  ng-click="getIntakeFluid()">
                                               <div class="row">
                                                  <div class="row">
													<div class="col-xs-4">			
       <select  ng-model="intravenous.types" class="form-control">
		   <option value="">INTRAVENOUS </option>																			
<option ng-repeat="getIntakeFluid in getIntakeFluids" ng-value="getIntakeFluid.item_id">{{getIntakeFluid.item_name}}</option></select>
                                                                </div>
                                                                <div class="col-xs-2">
     <input type="text" ng-model="intravenous.amount" class="form-control" >
                                                                </div>
                                                                                                                           
                                                                <div class="col-xs-2">
   <button class="btn btn-primary pull-right" ng-click="addIntravenous(intravenous,selectedPatient)">SAVE</button>
                                                                </div>
                                                            
															
															
															</div>                                                                                 
                                                        </div><br>
														
														<div class="row">
                                                            <div class="row">
 <div class="col-xs-4">									
  <select  ng-model="oral.types" class="form-control">
  <option value="">ORAL </option>													
<option ng-repeat="getIntakeFluid in getIntakeFluids" ng-value="getIntakeFluid.item_id">{{getIntakeFluid.item_name}}</option></select>
 </div>
 <div class="col-xs-2">
 <input type="text" ng-model="oral.amount" class="form-control" >
 </div>
 
<div class="col-xs-2">
<button class="btn btn-primary pull-right" 
ng-click="addIntakeFluid(oral,selectedPatient)">SAVE</button>
</div>
</div>                                                                                 
                                                        </div>
                                                        <!--past medical history ends-->
                                                    </div>
<div uib-accordion-group class="panel-primary" heading="FLUID OUTPUT" 
 ng-click="getOutPutTypes()"  >
                                                        			<div class="row">
                                                            <div class="row">
 <div class="col-xs-4">									
  <select  ng-model="getOutPuts.types" class="form-control">
  <option value="">OUTPUTS </option>													
<option ng-repeat="getOutPutType in getOutPutTypes" ng-value="getOutPutType.id">{{getOutPutType.observations_output_types}}</option></select>
 </div>
 <div class="col-xs-2">
 <input type="text" ng-model="getOutPuts.amount"  placeholder="AMOUNT" class="form-control" >
 </div>
 <div class="col-xs-2">
 <input type="text" ng-model="getOutPuts.units" placeholder="UNITS" class="form-control" >
 </div>
 
<div class="col-xs-2">
<button class="btn btn-primary pull-right" 
ng-click="addOutPuts(getOutPuts,selectedPatient)">SAVE</button>
</div>
</div>                                                                                 
                                                        </div>
                                                        <!--birth history ends-->
                                                    </div>
                                          </div>






                       
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
