  <md-dialog  class="fullscreen-dialog" ng-controller="nursingCareController">
        <md-dialog-content>
            <div class="md-dialog-content">

                <md-content class="md-padding">
				       <table class="table table-bordered" border="1" width="100%">
                                                        <caption> <b class="">
                                                                                                    
                                                         

                                    
                                                            <div  class="text-center"><h8> <i>PATIENT ABSCONDEE</i></h8></div>
                                                                                                        <hr>

                                                            <b class="col-md-4">PATIENT'S NAME: {{selectedPatient.fullname}}
																													
															</b>
                                                            <b class="col-md-4">REG :{{selectedPatient.medical_record_number}}  </b>
                                                            <P></P>
                                                            <P></P>
                                                            <P></P>
                                                             <b class="col-md-4">WARD:{{selectedPatient.ward_name}} </b>
                                                            <b class="col-md-4">BED NO: {{nursingCares.bed_name}} </b>
                                                            <b class="col-md-4">ADMISSION DATE: {{selectedPatient.admission_date}} </b> 
															
															<b class="col-md-4">ADDRESS: {{selectedPatient.residence_name}}, {{selectedPatient.council_name}} </b>
                                                            <hr>
                                                        </b></caption>

                                                                                                            </table>
																								

	
	<div layout="row" class="md-block">
 <md-input-container flex>
          <label>DESCRIPTION ON ABSCONDEE</label>
          <textarea ng-model="discharge" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
		
		<div flex></div>		
	
	
	</div>
 <div layout="row" class="md-block">
		<md-input-container flex>
                            <label>Date Abscondee</label>
                            <md-datepicker md-max-date="today_date" style="width:100%" md-hide-icons="calendar" md-open-on-focus ng-model="dt" required></md-datepicker>
                          </md-input-container>
		
	</div>
		
	

                    </md-content>

                        
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
           <button type="submit" class="btn btn-success" ng-click="addDischarge(discharge,selectedPatient,dt)">DISCHARGE</button>
			
			<md-button ng-click="cancel()">
                Cancel
            </md-button>
           
        </md-dialog-actions>
  </md-dialog>














