<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Quotation form</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div ng-cloak="">
            <md-content class="md-padding">
                <div style="width:700px;">
                    <div id="quotationFormToPrint" class="container-fluid">
                        <div class="row">
                            <div class="col-md-12" style="text-align:center">
                                <br/>
                                {{menu[0].facility_name}}&nbsp;&nbsp;
                                {{menu[0].description}}<br/>
                                <span><img alt="image" class="" src="/img/arm.png" width="90px" height="90px"/>
                    </span><br/>
                                {{menu[0].address}}<br/>
                                {{menu[0].email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"
                                       width="100%">
                                    <thead style="background-color:beige">
                                    <th class="mdl-data-table__cell--non-numeric">SN</th>
                                    <th class="mdl-data-table__cell--non-numeric">Item Name</th>
                                    <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                                    <th class="mdl-data-table__cell--non-numeric">Price</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="order in quotationData track by $index">
                                        <td class="mdl-data-table__cell--non-numeric">{{$index+1}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{order.item_name}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{order.total_quantity}}</td>
                                        <td class="mdl-data-table__cell--non-numeric"> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div><br>
                            Signature:...........................................................................&nbsp;&nbsp;&nbsp;&nbsp;
                            Designation:.........................................................................
                        </div>
                    </div>
                </div>
            </md-content>
        </div>


    </md-dialog-content>
    <md-dialog-actions layout="row">

        <span flex></span>

        <md-button ng-click="printQuotationForm(quotationData)" class="md-primary md-raised">
            Print form
        </md-button>
    </md-dialog-actions>
</md-dialog>

