<md-dialog class="fullscreen-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <b> NAME: {{selectedPatient.first_name}} {{selectedPatient.middle_name}} {{selectedPatient.last_name}} MRN: {{selectedPatient.medical_record_number}} GENDER:{{selectedPatient.gender}}<p></p>

            </b>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" title="Close">
                <md-icon md-svg-src="/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>


            <div class=" ">

<div class="col-md-12">
<div class="col-md-6">

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="100%">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric">#</th>
            <th class="mdl-data-table__cell--non-numeric">Item</th>
            <th class="mdl-data-table__cell--non-numeric">Discount</th>
            <th class="mdl-data-table__cell--non-numeric">Amount</th>
            <th class="mdl-data-table__cell--non-numeric">Grand Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="exemption in temporary_exemptions | filter:search track by $index">
            <td class="mdl-data-table__cell--non-numeric"><input type="checkbox" ng-model="ed" ng-click="temporary_exemption_checked(exemption,ed)"  class="fa fa-pencil no-print" title="Edit"> </td>
            <td class="mdl-data-table__cell--non-numeric">{{$index+1}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{exemption.item_name}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{exemption.discount | currency : 'Tshs ' : 2}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{exemption.price*exemption.quantity | currency : 'Tshs ' : 2}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{(exemption.price*exemption.quantity)- (exemption.discount) | currency : 'Tshs ' : 2}}</td>

            <td ng-if="ed"><a ng-click="temporary_exemption_status_single_row_update(selectedPatient,exemption)" class="md-raised md-default" title="Save Changes">SAVE</a></td>


        </tr>
        <tr>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric"> </th>
            <th class="mdl-data-table__cell--non-numeric"> </th>
            <th class="mdl-data-table__cell--non-numeric">{{discount | currency : 'Tshs ' : 2}} </th>
            <th class="mdl-data-table__cell--non-numeric"> {{Total | currency : 'Tshs ' : 2}}</th>
            <th class="mdl-data-table__cell--non-numeric">{{grandTotal | currency : 'Tshs ' : 2}}</th>
        </tr>
        <tr>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric"> </th>
            <th class="mdl-data-table__cell--non-numeric"> </th>
            <th class="mdl-data-table__cell--non-numeric">  </th>
            <th class="mdl-data-table__cell--non-numeric">  </th>
            <th class="mdl-data-table__cell--non-numeric">  </th>

            <td ng-if="checkedList.length>0"></td>

        </tr>
    </table>

</div>


    <div class="col-md-6" ng-if="checkedList.length>0">

                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="100%">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                            <th class="mdl-data-table__cell--non-numeric">#</th>
                            <th class="mdl-data-table__cell--non-numeric">Item</th>
                            <th class="mdl-data-table__cell--non-numeric">Discount</th>
                            <th class="mdl-data-table__cell--non-numeric">Amount</th>
                            <th class="mdl-data-table__cell--non-numeric">Grand Total</th>
                        </tr>
                        <tr ng-repeat="exemption_ in checkedList | filter:search track by $index">
                            <td class="mdl-data-table__cell--non-numeric"><md-button     ng-click="temporary_exemption_removed($index)"  class="md-warn" title="Remove"> X</md-button></td>
                            <td class="mdl-data-table__cell--non-numeric">{{$index+1}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{exemption_.item_name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{exemption_.discount | currency : 'Tshs ' : 2}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{exemption_.price*exemption_.quantity | currency : 'Tshs ' : 2}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{(exemption_.price*exemption_.quantity)- (exemption_.discount) | currency : 'Tshs ' : 2}}</td>


                        </tr>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                            <th class="mdl-data-table__cell--non-numeric"> </th>
                            <th class="mdl-data-table__cell--non-numeric"> </th>
                            <th class="mdl-data-table__cell--non-numeric">  </th>
                            <th class="mdl-data-table__cell--non-numeric">  </th>
                            <th class="mdl-data-table__cell--non-numeric">{{grandTotalPay | currency : 'Tshs ' : 2}}</th>
                        </tr>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                            <th class="mdl-data-table__cell--non-numeric"> </th>
                            <th class="mdl-data-table__cell--non-numeric"> </th>
                            <th class="mdl-data-table__cell--non-numeric">  </th>
                            <th class="mdl-data-table__cell--non-numeric">  </th>
                            <th class="mdl-data-table__cell--non-numeric">  </th>

                            <td ng-if="checkedList.length>0"><a ng-click="temporary_exemption_status_update(selectedPatient)" class="md-raised md-primary" title="Save Changes">SAVE ALL </a></td>

                        </tr>
                    </table>
</div>


            </div>



</div>
            </div>

    </md-dialog-content>
</md-dialog>

