<!--tabs start-->
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Departmental Report">
                <md-content class="md-padding">
                    <div layout="row">
                    <md-input-container >
                        <label>Choose Start Date</label>
                        <input ng-model="dept.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                    </md-input-container>
                    <md-input-container >
                        <label>Choose End Date</label>
                        <input ng-model="dept.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                    </md-input-container>
                    <md-input-container>
                        <md-button class="md-raised md-primary" ng-click="getDepartmental(dept)">Search</md-button>
                    </md-input-container>
                    </div>
                    <div flex="50" ng-if="departments.length>0">
                        <h3>Grand Total : {{depGrandTotal | currency: 'Tshs. ' :2}}</h3>
                    </div>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="100%"   ng-if="departments.length>0">
                        <thead>
                            <th class="mdl-data-table__cell--non-numeric">Department</th>
                            <th class="mdl-data-table__cell--non-numeric">Transactions</th>
                            <th class="mdl-data-table__cell--non-numeric">Sub Total</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dpt in departments">
                            <td class="mdl-data-table__cell--non-numeric">{{dpt.department}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{dpt.transactions}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{dpt.total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-content>
            </md-tab>
            <md-tab label="Detailed Report">
                <md-content class="md-padding">
                    <div layout="row">
                        <md-input-container >
                            <label>Choose Start Date</label>
                            <input ng-model="det.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                        </md-input-container>
                        <md-input-container >
                            <label>Choose End Date</label>
                            <input ng-model="det.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised md-primary" ng-click="getDate(det)">Search</md-button>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <div flex="50" ng-if="detailedData.length>0">
                            <h3> Grand Total : {{detailedTotal | currency: 'Tshs. ' :2}}</h3>
                        </div>
                        <div flex="50" ng-if="detailedData.length>0">
                            <!--<md-input-container class="md-block">-->
                                <!--<input type="text" ng-model="searchPatient" placeholder="Filter patients by medical record number">-->
                            <!--</md-input-container>-->
                        </div>
                    </div>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" ng-if="detailedData.length>0">
                        <thead>
                            <th class="mdl-data-table__cell--non-numeric">Sale ID </th>
                            <th class="mdl-data-table__cell--non-numeric">MRN </th>
                            <th class="mdl-data-table__cell--non-numeric">Patient Name </th>
                            <th class="mdl-data-table__cell--non-numeric">Staff Name </th>
                            <th class="mdl-data-table__cell--non-numeric">Items Purchased</th>
                            <th class="mdl-data-table__cell--non-numeric">Sub Total </th>
                            <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">Total Discount</th>-->
                            <th class="mdl-data-table__cell--non-numeric">Transaction Date</th>
                            <th class="mdl-data-table__cell--non-numeric"><span class="glyphicon glyphicon-flash " aria-hidden="true"></span></th>
                        </thead>
                        <tbody ng-repeat="d in detailedData" ng-switch on="isSelData(d)" ng-click="selData(d,$index)">
                        <tr ng-class="{sel:selIdx==$index}" >
                            <td class="mdl-data-table__cell--non-numeric">{{d.receipt_number}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{d.medical_record_number}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{d.first_name+' '+d.middle_name+' '+d.last_name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{d.user_name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{d.total_items}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{d.sub_total}} </td>
                            <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric">{{d.total_discount}} </td>-->
                            <td class="mdl-data-table__cell--non-numeric">{{d.created_at}} </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a class="mdl-button mdl-js-button mdl-button--raised " data-toggle="collapse"  aria-expanded="false" aria-hidden="true" ng-click="getDetailedData(d,det)">More..</a>
                                <a class="mdl-button mdl-js-button mdl-button--raised" ng-click="getReceipt(d,det)">Print</a>
                            </td>
                        </tr>

                        <tr ng-switch-when="true">
                            <td colspan="10" class="mdl-data-table__cell--non-numeric">
                                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                                    <tr style="color: black;">
                                        <th class="mdl-data-table__cell--non-numeric">Sale ID</th>
                                        <th class="mdl-data-table__cell--non-numeric">Item Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Price</th>
                                        <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                                        <th class="mdl-data-table__cell--non-numeric">Amount Paid</th>
                                        <th class="mdl-data-table__cell--non-numeric">Discount</th>
                                        <th class="mdl-data-table__cell--non-numeric">Remarks</th>
                                        <th class="mdl-data-table__cell--non-numeric"></th>
                                    </tr>
                                    <tr ng-repeat="dc in getDetailedReports">
                                        <td class="mdl-data-table__cell--non-numeric">{{dc.receipt_number}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{dc.item_name}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{dc.price}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{dc.quantity}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{dc.quantity*dc.price-dc.discount}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{dc.discount}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{dc.comments}}</td>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </md-content>
            </md-tab>
            <md-tab label="Employees Report">
                <md-content class="md-padding">
                    <div layout="row">
                        <md-input-container >
                            <label>Choose Start Date</label>
                            <input ng-model="emp.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                        </md-input-container>
                        <md-input-container >
                            <label>Choose End Date</label>
                            <input ng-model="emp.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised md-primary" ng-click="getCashiers(emp)">Search</md-button>
                        </md-input-container>
                    </div>
                    <div flex="50" ng-if="cashiers.length>0">
                       <h3> Grand Total : {{csGrandTotal | currency: 'Tshs. ' :2}}</h3>
                    </div>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="100%" ng-if="cashiers.length>0">
                        <thead>
                            <th class="mdl-data-table__cell--non-numeric">Staff's Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Transactions</th>
                            <th class="mdl-data-table__cell--non-numeric">Sub Total</th> </thead>
                        <tbody>
                        <tr ng-repeat="cs in cashiers">
                            <td class="mdl-data-table__cell--non-numeric">{{cs.user_name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{cs.transactions}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{cs.sub_total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-content>
            </md-tab>

            <md-tab label="Exemption report">
                <md-content class="md-padding">
                    <div layout="row">
                        <md-input-container >
                            <label>Choose Start Date</label>
                            <input ng-model="emp.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                        </md-input-container>
                        <md-input-container >
                            <label>Choose End Date</label>
                            <input ng-model="emp.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised md-primary" ng-click="exemption_finance(emp)">Search</md-button>
                        </md-input-container>
                    </div>
                    <div flex="50" ng-if="exemptions_finance.length>0">
                       <h3> Grand Total : {{exemptionsGrandTotal | currency: 'Tshs. ' :2}}</h3>
                    </div>

                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="100%" ng-if="exemptions_finance.length>0">
                        <thead>
                            <th class="mdl-data-table__cell--non-numeric">Gender</th>
                            <th class="mdl-data-table__cell--non-numeric">Exemption</th>
                            <th class="mdl-data-table__cell--non-numeric">No.Of exemption</th>
                            <th class="mdl-data-table__cell--non-numeric">Amount</th> </thead>
                        <tbody>
                        <tr ng-repeat="exemption in exemptions_finance">
                            <td class="mdl-data-table__cell--non-numeric">{{exemption.gender}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{exemption.sub_category_name}}</td>
                            <td class="mdl-data-table__cell--non-numeric" ng-if="exemption.gender=='MALE'">{{exemption.male}}</td>
                            <td class="mdl-data-table__cell--non-numeric" ng-if="exemption.gender=='FEMALE'">{{exemption.female}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{exemption.Total_amount | currency: 'Tshs. ' :2}}</td>
                        </tr>
                        <tr  >
                            <td class="mdl-data-table__cell--non-numeric" colspan="3">Grand Total : </td>

                            <td class="mdl-data-table__cell--non-numeric">{{exemptionsGrandTotal | currency: 'Tshs. ' :2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
<!--tabs end-->
