
<md-input-container class="md-block">
    <input data-toggle="tooltip" title="Click here to search patients" type="text" placeholder="Click here to search patients"
           uib-typeahead="patient as patient.first_name+' '+patient.middle_name+' '+patient.last_name for patient in showSearch($viewValue) |filter:$viewValue |limitTo:5" ng-model="selectedPatient"
           autocomplete="off">
</md-input-container>
<md-content class="md-padding">
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="80">
            <input type="text" id="item" placeholder="Search Items" ng-model="selectedItem"
                   uib-typeahead="item as item.item_name+' '+item.price for item in searchItems($viewValue,selectedPatient) | filter:$viewValue | limitTo:5" autocomplete="off">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="10">
            <input type="number" id="qty" ng-model="quantity" placeholder="Quantity" min="0">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="10">
            <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="addItem(selectedPatient,selectedItem,quantity)">Add</button>
        </md-input-container>
    </div>
    <div layout="row" layout-sm="column" layout-xs="column">
        <md-card flex-gt-sm="80" ng-if="itemData.length>0">
            <h5>{{"Names : "+selectedPatient.first_name+' '+selectedPatient.middle_name+' '+selectedPatient.last_name}}&nbsp;&nbsp;
                {{"Mrn : "+selectedPatient.medical_record_number}}&nbsp;&nbsp; {{"DoB : "+selectedPatient.dob}}&nbsp;&nbsp; {{"Gender : "+selectedPatient.gender}}
            </h5>
            <md-card-content>
                <table class="mdl-data-table mdl-js-data-table" width="100%" >
                    <thead>
                    <tr>
                        <td><strong>Item Name</strong></td>
                        <td class="text-center"><strong>Unit Price</strong></td>
                        <td class="text-center"><strong>Quantity</strong></td>
                        <td class="text-right"><strong>Sub Total</strong></td>
                        <td class="text-right"><strong>Action</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in itemData">
                        <td>{{item.item_name}}</td>
                        <td class="text-center">{{item.price}}</td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-right">{{item.sub_total | currency : 'Tshs ' : 2}}</td>
                        <td><span ng-click="removeItem(item)" style="cursor: pointer">Remove</span></td>
                    </tr>
                    <tr>
                        <td class="emptyrow"></td>
                        <td class="emptyrow"></td>
                        <td class="emptyrow text-center"><strong>Grand Total</strong></td>
                        <td class="emptyrow text-right">{{toto | currency : 'Tshs ' : 2}}</td>
                        <td class="emptyrow"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised pull-right" ng-click="processSales(selectedPatient,payment)" ng-if="itemData.length>0">Process Sale</button>
            </md-card-content>
        </md-card>
    </div>
    <!--transaction checker starts-->
    <div flex-gt-sm="50">
        <md-checkbox ng-model="data.cb" aria-label="Check balance">
            Check balance
        </md-checkbox>
        <div ng-if=" data.cb ==true">
            <md-input-container >
                <label>Choose Start Date</label>
                <input ng-model="cs.start" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
            </md-input-container>
            <md-input-container >
                <label>Choose End Date</label>
                <input ng-model="cs.end" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary" ng-click="cashiersBalance(cs)">Search</md-button>
            </md-input-container>
        </div>
        <md-content ng-if="transactions.length>0 && data.cb ==true ">
            Dear <strong>{{transactions[0].user_name}}</strong> you have a total of {{transactions[0].sub_total | currency : ' Tshs. ' :2}}
            from  {{transactions[0].transactions}} transactions. <br> Thank you!
        </md-content>
    </div>
    <!--transaction checker ends-->
</md-content>
