<md-dialog ng-controller="patientController" class="fullscreen-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <div layout="row"  layout-align="space-between center">
    <h2 class="md-display-1">Corpse Name:{{patientData.first_name| uppercase}}&nbsp;{{patientData.middle_name| uppercase}}&nbsp;{{patientData.last_name| uppercase}}</h2>

    <h3 class="md-title"> &nbsp;&nbsp;&nbsp;&nbsp; Reg #.{{patientData.corpse_record_number}}</h3>

</div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">



            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Billing">
                    <md-content class="md-padding">
                        <div style="min-height:400px;">
                                                       <div layout="row">
                                <md-input-container flex="100">
                                    <label>Services</label>


                            <md-select ng-model="corpse_service">

                                        <md-option value=""></md-option>
                                <md-option ng-repeat="mortuaryService in mortuaryServices"
                                      ng-value="{{mortuaryService}}">
                                            {{mortuaryService.item_name}} {{mortuaryService.price}}
                                        </md-option>
                                    </md-select>

                                </md-input-container>

                               


                            </div>
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

                                <md-button ng-click="cancel()">
                                    Cancel
                                </md-button>
                                <md-button class="md-raised md-primary"
                ng-click="startSessionCorpse(patientData,corpse_service)">
                                    Save
                                </md-button>
                            </section>

                        </div>


                    </md-content>
                </md-tab>
                

            </md-tabs>


        </div>
    </md-dialog-content>

</md-dialog>




