<div class="container" ng-controller="patientController">
  <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
<style>
    .std{
        padding:20px;
    }
    @media print {
        .no-print{
            display:none;
        }
    }
</style>
          
          <a ng-href="#/patients" class="no-print btn btn-info pull-left">Go to encounter</a>
		   <div class="col-xs-12">
                <a href="javascript:window.print()" class="no-print btn btn-success pull-right">Print Receipt </a>
               
            </div>
 <center>
  <table width="800px" border=1 class="table table-responsive">
  <tr>
    <td width="15%" align='center'> <img alt="Facility Logo" src="public/img/thumb_gov_tanzania_logo.png"></a>  </td>
    <td> 
      <table align='center'>
        <tr><b> <td colspan='2' width="60%"><b>  <h4>DODOMA REGIONAL REFFERAL HOSPITAL </h4><h4>P O BOX 29819, DODOMA</h4> </b></td> </tr>
        <tr> <td width="40%"> <b> Name:</b>NASSORO S MOHAMED</td> <td width="20%"></td>  <td width="30%"><b> Account : </b>0998888233</td>   </tr>
        <tr> <td colspan='2' width="40%"><b> Address: </b>P O BOX 1898, DODOMA</td> <td><b> Gender : </b>MALE</td></tr>
        <tr> <td colspan='2' width="40%"><b> Date of Birth: </b>02-03-1982</td><td><b> Occupation : </b>mwalimu</td></tr>
        <tr> <td colspan='2' width="40%"><b> Nationality: </b>Mtanzania </td> <td><b> Date : </b>
             02-01-1982
          </td></tr>
      </table>
    </td>
  </tr>
  <tr>
  </table>
</center>
<table><b><p><center>OR TAMISEMI</center></p></b></table>
    
</div>


</div>
</div>
</div>

